In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Crime.csv')
print(dfCrime.shape)
dfCrime.head()

(438822, 30)

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_6549/1590329121.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Crime.csv')

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
0,201166610,2308,170548599,NaN,12/14/2017 04:30:00 PM,NaN,23D,1,Crime Against Property,Theft from Building,...,270,1700.0,E,JEFFERSON,NaN,ST,39.05848,-77.1264,1D,"(39.0585, -77.1264)"
1,201359823,5404,220000965,01/09/2022 01:18:38 AM,01/09/2022 01:34:00 AM,NaN,90D,1,Crime Against Society,Driving Under the Influence,...,428,100.0,N,FREDERICK,NaN,AVE,39.09438,-77.1517,6D,"(39.0944, -77.1517)"
2,201095140,2303,16043118,NaN,08/24/2016 09:47:00 PM,NaN,23C,1,Crime Against Property,Shoplifting,...,271,5700.0,NaN,BOU,NaN,AVE,39.05597,-77.1136,1D,"(39.056, -77.1136)"
3,201090710,5707,16037677,NaN,07/25/2016 05:31:00 PM,NaN,90J,1,Crime Against Society,Trespass of Real Property,...,321,11100.0,NaN,VEIRS MILL,NaN,RD,39.03758,-77.0519,4D,"(39.0376, -77.0519)"
4,201362142,2901,220003839,01/28/2022 07:11:29 PM,01/28/2022 02:40:00 PM,01/28/2022 02:46:00 PM,290,1,Crime Against Property,Destruction/Damage/Vandalism of Property,...,545,18500.0,N,FREDERICK,NaN,AVE,39.16059,-77.2209,6D,"(39.1606, -77.2209)"

In [4]:
dfCrime['Start_Date_Time'] = pd.to_datetime(dfCrime['Start_Date_Time'])
dfCrime.head()

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_6549/1499690141.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dfCrime['Start_Date_Time'] = pd.to_datetime(dfCrime['Start_Date_Time'])

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
0,201166610,2308,170548599,NaN,2017-12-14 16:30:00,NaN,23D,1,Crime Against Property,Theft from Building,...,270,1700.0,E,JEFFERSON,NaN,ST,39.05848,-77.1264,1D,"(39.0585, -77.1264)"
1,201359823,5404,220000965,01/09/2022 01:18:38 AM,2022-01-09 01:34:00,NaN,90D,1,Crime Against Society,Driving Under the Influence,...,428,100.0,N,FREDERICK,NaN,AVE,39.09438,-77.1517,6D,"(39.0944, -77.1517)"
2,201095140,2303,16043118,NaN,2016-08-24 21:47:00,NaN,23C,1,Crime Against Property,Shoplifting,...,271,5700.0,NaN,BOU,NaN,AVE,39.05597,-77.1136,1D,"(39.056, -77.1136)"
3,201090710,5707,16037677,NaN,2016-07-25 17:31:00,NaN,90J,1,Crime Against Society,Trespass of Real Property,...,321,11100.0,NaN,VEIRS MILL,NaN,RD,39.03758,-77.0519,4D,"(39.0376, -77.0519)"
4,201362142,2901,220003839,01/28/2022 07:11:29 PM,2022-01-28 14:40:00,01/28/2022 02:46:00 PM,290,1,Crime Against Property,Destruction/Damage/Vandalism of Property,...,545,18500.0,N,FREDERICK,NaN,AVE,39.16059,-77.2209,6D,"(39.1606, -77.2209)"

In [5]:
dfCrime = dfCrime.loc[(dfCrime['Start_Date_Time'] >= '2019-01-01') & (dfCrime['Start_Date_Time'] < '2020-01-01')]
print(dfCrime.shape)
dfCrime.head()

(52644, 30)

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
10,201225360,2204,190004807,01/30/2019 07:49:25 PM,2019-01-30 19:49:00,NaN,220,1,Crime Against Property,Burglary/Breaking and Entering,...,145,11500.0,NaN,LOCKWOOD,NaN,DR,39.04120,-76.9862,3D,"(39.0412, -76.9862)"
32,201228679,3562,190009437,02/27/2019 10:42:38 PM,2019-02-27 22:42:00,NaN,35A,1,Crime Against Society,Drug/Narcotic Violations,...,094,NaN,NaN,GEORGIA,NaN,AVE,39.11237,-77.0755,3D,"(39.1124, -77.0755)"
35,201228679,5212,190009437,02/27/2019 10:42:38 PM,2019-02-27 22:42:00,NaN,520,1,Crime Against Society,Weapon Law Violations,...,094,NaN,NaN,GEORGIA,NaN,AVE,39.11237,-77.0755,3D,"(39.1124, -77.0755)"
50,201231950,3560,190013370,03/23/2019 02:01:51 AM,2019-03-23 02:02:00,NaN,35A,1,Crime Against Society,Drug/Narcotic Violations,...,012,NaN,NaN,SHEPHERD,NaN,ST,38.97953,-77.0707,2D,"(38.9795, -77.0707)"
74,201226430,2305,190006652,02/11/2019 10:16:59 AM,2019-02-11 10:12:00,NaN,23F,1,Crime Against Property,Theft From Motor Vehicle,...,095,1100.0,NaN,FIDLER,NaN,LA,38.99700,-77.0292,3D,"(38.997, -77.0292)"

In [7]:
list(dfCrime['Crime Name2'].unique())

['Burglary/Breaking and Entering',
 'Drug/Narcotic Violations',
 'Weapon Law Violations',
 'Theft From Motor Vehicle',
 'Destruction/Damage/Vandalism of Property',
 'Liquor Law Violations',
 'Disorderly Conduct',
 'Shoplifting',
 'Simple Assault',
 'Driving Under the Influence',
 'Theft from Building',
 'Trespass of Real Property',
 'All other Larceny',
 'Identity Theft',
 'Prostitution',
 'Assisting or Promoting Prostitution',
 'Aggravated Assault',
 'Forcible Rape',
 'Counterfeiting/Forgery',
 'Forcible Fondling',
 'False Pretenses/Swindle/Confidence Game',
 'Stolen Property Offenses',
 'All Other Offenses',
 'Theft of Motor Vehicle Parts or Accessories',
 'Intimidation',
 'Family Offenses, NonViolent',
 'Robbery',
 'Arson',
 'Credit Card/Automatic Teller Machine Fraud',
 'Motor Vehicle Theft',
 'Drug Equipment Violations',
 'Statuory Rape',
 'Extortion/Blackmail',
 'Impersonation',
 'Pocket/picking',
 'Purse-snatching',
 'Pornography/Obscene Material',
 'Embezzlement',
 'Wire Fraud',
 'Animal Cruelty',
 'Kidnapping/Abduction',
 'Murder and Nonnegligent Manslaughter',
 'Human Trafficking, Commercial Sex Acts',
 'Incest',
 'From Coin/Operated Machine or Device',
 'Curfew/Loitering/Vagrancy Violations',
 'Welfare Fraud',
 'Runaway',
 'Justifiable Homicide']

In [8]:
violentCrimes = ['Robbery', 'Aggravated Assault', 'Forcible Rape', 'Murder and Nonnegligent Manslaughter', 'Human Trafficking, Commercial Sex Acts']
dfCrime = dfCrime[dfCrime['Crime Name2'].isin(violentCrimes)]
dfCrime = dfCrime[['Crime Name2', 'Longitude', 'Latitude']]
print(dfCrime.shape)
dfCrime.head()

(1702, 3)

              Crime Name2  Longitude  Latitude
1183   Aggravated Assault   -77.0771  38.98900
3864        Forcible Rape   -77.2679  39.16596
12627       Forcible Rape   -77.1172  39.17925
31981       Forcible Rape   -77.0788  39.01549
36164       Forcible Rape   -77.0704  39.10473

In [9]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
dfCrime = dfCrime[['Crime Name2', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(1702, 2)

              Crime Name2                             geometry
1183   Aggravated Assault              POINT (-77.0771 38.989)
3864        Forcible Rape            POINT (-77.2679 39.16596)
12627       Forcible Rape            POINT (-77.1172 39.17925)
31981       Forcible Rape            POINT (-77.0788 39.01549)
36164       Forcible Rape  POINT (-77.07040000000001 39.10473)

In [10]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_24_bg_500k/cb_2018_24_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(3916, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,24,047,980000,1,1500000US240479800001,240479800001,1,BG,36014136,196706380,"POLYGON ((-75.379 38.025, -75.378 38.026, -75...."
1,24,019,970900,2,1500000US240199709002,240199709002,2,BG,264765218,196678699,"MULTIPOLYGON (((-76.065 38.13, -76.065 38.13, ..."
2,24,003,706302,3,1500000US240037063023,240037063023,3,BG,500847,785990,"POLYGON ((-76.486 38.973, -76.481 38.977, -76...."
3,24,027,606606,1,1500000US240276066061,240276066061,1,BG,709671,0,"POLYGON ((-76.823 39.213, -76.822 39.213, -76...."
4,24,005,491201,1,1500000US240054912011,240054912011,1,BG,1126592,0,"POLYGON ((-76.588 39.402, -76.585 39.402, -76...."

In [11]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

              Crime Name2                geometry
1183   Aggravated Assault  POINT (-77.077 38.989)
3864        Forcible Rape  POINT (-77.268 39.166)
12627       Forcible Rape  POINT (-77.117 39.179)
31981       Forcible Rape  POINT (-77.079 39.015)
36164       Forcible Rape   POINT (-77.07 39.105)

In [12]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(1702, 13)

,Crime Name2,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
1183,Aggravated Assault,POINT (-77.077 38.989),3418.0,24,031,705100,2,1500000US240317051002,240317051002,2,BG,1477783.0,6648.0
3864,Forcible Rape,POINT (-77.268 39.166),1670.0,24,031,700815,2,1500000US240317008152,240317008152,2,BG,1295404.0,653.0
12627,Forcible Rape,POINT (-77.117 39.179),3224.0,24,031,700103,3,1500000US240317001033,240317001033,3,BG,14562510.0,52631.0
31981,Forcible Rape,POINT (-77.079 39.015),2922.0,24,031,704100,4,1500000US240317041004,240317041004,4,BG,711434.0,0.0
36164,Forcible Rape,POINT (-77.07 39.105),3054.0,24,031,703218,1,1500000US240317032181,240317032181,1,BG,216926.0,0.0

In [13]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US240317038001    68
1500000US240317007132    36
1500000US240317025004    32
1500000US240317025001    29
1500000US240317003092    25
                         ..
1500000US240317032212     1
1500000US240317045022     1
1500000US240317012053     1
1500000US240317007102     1
1500000US240317014151     1
Name: count, Length: 407, dtype: int64

In [14]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/MontMD_violent_crime_by_BG.csv')