In [5]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [7]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Crime_Incidents_in_2019.csv')
print(dfCrime.shape)
dfCrime.head()

(33969, 25)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.998459,38.839721,19133977,2019/07/31 02:06:18+00,EVENING,GUN,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,400134.00,130213.00,...,009804 2,9804.0,Precinct 122,38.839713,-76.998457,NaN,2019/07/30 22:42:17+00,2019/07/30 22:55:26+00,717509953,NaN
1,-77.031962,38.908045,19046953,2019/03/20 16:35:01+00,DAY,OTHERS,THEFT/OTHER,1300 - 1399 BLOCK OF 14TH STREET NW,397228.00,137798.00,...,005203 2,5203.0,Precinct 17,38.908037,-77.031960,NaN,2019/03/20 15:30:24+00,2019/03/20 15:45:03+00,717509954,NaN
2,-77.026474,38.945600,19051853,2019/03/28 02:08:24+00,EVENING,OTHERS,THEFT/OTHER,4500 - 4599 BLOCK OF GEORGIA AVENUE NW,397705.17,141966.76,...,002400 2,2400.0,Precinct 46,38.945592,-77.026472,NaN,2019/03/27 18:57:00+00,2019/03/28 02:17:53+00,717509955,NaN
3,-76.975183,38.930162,19206304,2019/11/18 10:39:13+00,MIDNIGHT,OTHERS,THEFT F/AUTO,2000 - 2199 BLOCK OF JACKSON STREET NE,402152.00,140253.00,...,009400 2,9400.0,Precinct 70,38.930155,-76.975181,NaN,2019/11/17 19:00:24+00,2019/11/18 07:45:26+00,717509956,NaN
4,-77.042577,38.902533,19079495,2019/05/09 12:21:18+00,DAY,OTHERS,THEFT/OTHER,1800 - 1899 BLOCK OF K STREET NW,396307.07,137186.46,...,010700 1,10700.0,Precinct 17,38.902525,-77.042574,GOLDEN TRIANGLE,2019/05/08 22:30:40+00,2019/05/09 10:45:37+00,717509960,NaN

In [9]:
list(dfCrime.columns)

['X',
 'Y',
 'CCN',
 'REPORT_DAT',
 'SHIFT',
 'METHOD',
 'OFFENSE',
 'BLOCK',
 'XBLOCK',
 'YBLOCK',
 'WARD',
 'ANC',
 'DISTRICT',
 'PSA',
 'NEIGHBORHOOD_CLUSTER',
 'BLOCK_GROUP',
 'CENSUS_TRACT',
 'VOTING_PRECINCT',
 'LATITUDE',
 'LONGITUDE',
 'BID',
 'START_DATE',
 'END_DATE',
 'OBJECTID',
 'OCTO_RECORD_ID']

In [11]:
list(dfCrime['OFFENSE'].unique())

['ASSAULT W/DANGEROUS WEAPON',
 'THEFT/OTHER',
 'THEFT F/AUTO',
 'ROBBERY',
 'MOTOR VEHICLE THEFT',
 'SEX ABUSE',
 'HOMICIDE',
 'BURGLARY',
 'ARSON']

In [13]:
violentCrimes = ['ASSAULT W/DANGEROUS WEAPON', 'SEX ABUSE', 'ROBBERY', 'HOMICIDE']
dfCrime = dfCrime[dfCrime['OFFENSE'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(4176, 25)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.998459,38.839721,19133977,2019/07/31 02:06:18+00,EVENING,GUN,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,400134.0,130213.0,...,009804 2,9804.0,Precinct 122,38.839713,-76.998457,NaN,2019/07/30 22:42:17+00,2019/07/30 22:55:26+00,717509953,NaN
8,-76.921209,38.898366,19000356,2019/01/01 18:09:12+00,DAY,GUN,ASSAULT W/DANGEROUS WEAPON,5500 - 5599 BLOCK OF NANNIE HELEN BURROUGHS AV...,406835.0,136726.0,...,007807 1,7807.0,Precinct 95,38.898358,-76.921207,NaN,2019/01/01 16:10:16+00,NaN,717509994,NaN
10,-77.041831,38.906853,19136888,2019/08/04 09:10:47+00,MIDNIGHT,OTHERS,ROBBERY,1218 - 1299 BLOCK OF CONNECTICUT AVENUE NW,396372.0,137666.0,...,010700 2,10700.0,Precinct 17,38.906845,-77.041828,GOLDEN TRIANGLE,2019/08/04 08:06:01+00,2019/08/04 08:07:58+00,717510002,NaN
14,-77.027570,38.909650,19215978,2019/12/04 17:22:39+00,DAY,OTHERS,SEX ABUSE,1100 - 1199 BLOCK OF P STREET NW,397609.0,137976.0,...,005004 2,5004.0,Precinct 17,38.909642,-77.027568,NaN,2019/12/04 08:56:09+00,2019/12/04 11:41:02+00,717510007,NaN
17,-76.998459,38.839721,19035602,2019/09/12 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,3301 - 3699 BLOCK OF 6TH STREET SE,400134.0,130213.0,...,009804 2,9804.0,Precinct 122,38.839713,-76.998457,NaN,2019/02/28 00:41:51+00,2019/03/01 11:00:49+00,717510011,NaN

In [15]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)
dfCrime = dfCrime[['OFFENSE', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(4176, 2)

                       OFFENSE                                  geometry
0   ASSAULT W/DANGEROUS WEAPON  POINT (-76.99845652659999 38.8397130247)
8   ASSAULT W/DANGEROUS WEAPON  POINT (-76.92120660560001 38.8983582155)
10                     ROBBERY      POINT (-77.0418282989 38.9068451532)
14                   SEX ABUSE      POINT (-77.0275676357 38.9096419754)
17                    HOMICIDE  POINT (-76.99845652659999 38.8397130247)

In [17]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_11_bg_500k/cb_2018_11_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(450, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,11,001,001500,3,1500000US110010015003,110010015003,3,BG,284806,200,"POLYGON ((-77.064 38.973, -77.053 38.973, -77...."
1,11,001,001402,1,1500000US110010014021,110010014021,1,BG,337376,0,"POLYGON ((-77.062 38.966, -77.059 38.966, -77...."
2,11,001,003301,1,1500000US110010033011,110010033011,1,BG,255035,0,"POLYGON ((-77.012 38.921, -77.012 38.926, -77...."
3,11,001,004100,2,1500000US110010041002,110010041002,2,BG,289805,6192,"POLYGON ((-77.055 38.919, -77.055 38.92, -77.0..."
4,11,001,001702,1,1500000US110010017021,110010017021,1,BG,419232,0,"POLYGON ((-77.023 38.974, -77.023 38.974, -77...."

In [19]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                       OFFENSE                geometry
0   ASSAULT W/DANGEROUS WEAPON   POINT (-76.998 38.84)
8   ASSAULT W/DANGEROUS WEAPON  POINT (-76.921 38.898)
10                     ROBBERY  POINT (-77.042 38.907)
14                   SEX ABUSE   POINT (-77.028 38.91)
17                    HOMICIDE   POINT (-76.998 38.84)

In [21]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(4176, 13)

,OFFENSE,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
0,ASSAULT W/DANGEROUS WEAPON,POINT (-76.998 38.84),127.0,11,001,009804,2,1500000US110010098042,110010098042,2,BG,165670.0,0.0
8,ASSAULT W/DANGEROUS WEAPON,POINT (-76.921 38.898),299.0,11,001,007807,1,1500000US110010078071,110010078071,1,BG,241360.0,0.0
10,ROBBERY,POINT (-77.042 38.907),397.0,11,001,010700,2,1500000US110010107002,110010107002,2,BG,253181.0,0.0
14,SEX ABUSE,POINT (-77.028 38.91),368.0,11,001,005002,3,1500000US110010050023,110010050023,3,BG,71346.0,0.0
17,HOMICIDE,POINT (-76.998 38.84),127.0,11,001,009804,2,1500000US110010098042,110010098042,2,BG,165670.0,0.0

In [23]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US110010106002    65
1500000US110010058001    60
1500000US110010044002    60
1500000US110010096021    51
1500000US110010089031    49
                         ..
1500000US110010021022     1
1500000US110010021024     1
1500000US110010002021     1
1500000US110010003003     1
1500000US110010007012     1
Name: count, Length: 408, dtype: int64

In [25]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/DC_Violent_Crime_BG.csv')