In [51]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [53]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/2019CrimePhilly.csv')
print(dfCrime.shape)
dfCrime.head()

(161442, 15)

,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,151857,77,A,2019-10-05 16:47:00+00,2019-10-05,12:47:00,12.0,2.019770e+11,8800 BLOCK ESSINGTON AVE IA WAY,600,Thefts,-75.263804,40.055095,40.055095,-75.263804
1,151858,77,A,2019-04-26 20:08:00+00,2019-04-26,16:08:00,16.0,2.019770e+11,8800 BLOCK ESSINGTON AVE IA WAY,600,Theft from Vehicle,-75.263804,40.055095,40.055095,-75.263804
2,151859,77,A,2019-01-13 16:12:00+00,2019-01-13,11:12:00,11.0,2.019770e+11,ARRIVAL A TERMINAL,600,Thefts,-75.263804,40.055095,40.055095,-75.263804
3,151860,22,2,2019-10-03 05:37:00+00,2019-10-03,01:37:00,1.0,2.019221e+11,21ST AND YORK ST,300,Robbery Firearm,-75.263804,40.055095,40.055095,-75.263804
4,151862,18,2,2019-05-24 05:16:00+00,2019-05-24,01:16:00,1.0,2.019180e+11,S 56TH ST / LOCUST ST,300,Robbery Firearm,-75.263804,40.055095,40.055095,-75.263804

In [55]:
dfCrime['dispatch_date'] = pd.to_datetime(dfCrime['dispatch_date'])
dfCrime = dfCrime[(dfCrime['dispatch_date'] >= '2019-01-01') & (dfCrime['dispatch_date'] < '2020-01-01')]
print(dfCrime.shape)
dfCrime.head()

(161393, 15)

,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,151857,77,A,2019-10-05 16:47:00+00,2019-10-05,12:47:00,12.0,2.019770e+11,8800 BLOCK ESSINGTON AVE IA WAY,600,Thefts,-75.263804,40.055095,40.055095,-75.263804
1,151858,77,A,2019-04-26 20:08:00+00,2019-04-26,16:08:00,16.0,2.019770e+11,8800 BLOCK ESSINGTON AVE IA WAY,600,Theft from Vehicle,-75.263804,40.055095,40.055095,-75.263804
2,151859,77,A,2019-01-13 16:12:00+00,2019-01-13,11:12:00,11.0,2.019770e+11,ARRIVAL A TERMINAL,600,Thefts,-75.263804,40.055095,40.055095,-75.263804
3,151860,22,2,2019-10-03 05:37:00+00,2019-10-03,01:37:00,1.0,2.019221e+11,21ST AND YORK ST,300,Robbery Firearm,-75.263804,40.055095,40.055095,-75.263804
4,151862,18,2,2019-05-24 05:16:00+00,2019-05-24,01:16:00,1.0,2.019180e+11,S 56TH ST / LOCUST ST,300,Robbery Firearm,-75.263804,40.055095,40.055095,-75.263804

In [57]:
list(dfCrime['text_general_code'].unique())

['Thefts',
 'Theft from Vehicle',
 'Robbery Firearm',
 'Aggravated Assault No Firearm',
 'Robbery No Firearm',
 'Aggravated Assault Firearm',
 'Rape',
 'Burglary Non-Residential',
 'Burglary Residential',
 'All Other Offenses',
 'Other Assaults',
 'Disorderly Conduct',
 'DRIVING UNDER THE INFLUENCE',
 'Narcotic / Drug Law Violations',
 'Vandalism/Criminal Mischief',
 'Fraud',
 'Weapon Violations',
 'Other Sex Offenses (Not Commercialized)',
 'Liquor Law Violations',
 'Arson',
 'Embezzlement',
 'Public Drunkenness',
 'Offenses Against Family and Children',
 'Prostitution and Commercialized Vice',
 'Receiving Stolen Property',
 'Gambling Violations',
 'Forgery and Counterfeiting',
 'Vagrancy/Loitering',
 'Motor Vehicle Theft',
 'Homicide - Criminal']

In [59]:
violentCrimes = ['Robbery No Firearm', 'Aggravated Assault No Firearm', 'Robbery Firearm', 'Aggravated Assault Firearm',
                 'Rape', 'Homicide - Criminal']
dfCrime = dfCrime[dfCrime['text_general_code'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(15288, 15)

,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
3,151860,22,2,2019-10-03 05:37:00+00,2019-10-03,01:37:00,1.0,2.019221e+11,21ST AND YORK ST,300,Robbery Firearm,-75.263804,40.055095,40.055095,-75.263804
4,151862,18,2,2019-05-24 05:16:00+00,2019-05-24,01:16:00,1.0,2.019180e+11,S 56TH ST / LOCUST ST,300,Robbery Firearm,-75.263804,40.055095,40.055095,-75.263804
7,151865,6,1,2019-09-28 21:57:00+00,2019-09-28,17:57:00,17.0,2.019060e+11,1100 BLOCK SPRING GARDEN GARDEN ST,400,Aggravated Assault No Firearm,-75.263804,40.055095,40.055095,-75.263804
9,151868,26,3,2019-02-15 19:01:00+00,2019-02-15,14:01:00,14.0,2.019260e+11,2500 BLOCK FRANKFORD AVE,300,Robbery No Firearm,-75.263804,40.055095,40.055095,-75.263804
14,152358,25,3,2019-01-28 08:44:00+00,2019-01-28,03:44:00,3.0,2.019250e+11,3600 BLOCK ST CHRISTOPHER DWY,400,Aggravated Assault No Firearm,-75.263804,40.055095,40.055095,-75.263804

In [61]:
dfCrime = dfCrime[['text_general_code',  'lng', 'lat']]
dfCrime.head()

                text_general_code        lng        lat
3                 Robbery Firearm -75.263804  40.055095
4                 Robbery Firearm -75.263804  40.055095
7   Aggravated Assault No Firearm -75.263804  40.055095
9              Robbery No Firearm -75.263804  40.055095
14  Aggravated Assault No Firearm -75.263804  40.055095

In [63]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['lng'], row['lat']), axis=1)
dfCrime = dfCrime[['text_general_code', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(15288, 2)

                text_general_code                          geometry
3                 Robbery Firearm  POINT (-75.26380374 40.05509472)
4                 Robbery Firearm  POINT (-75.26380374 40.05509472)
7   Aggravated Assault No Firearm  POINT (-75.26380374 40.05509472)
9              Robbery No Firearm  POINT (-75.26380374 40.05509472)
14  Aggravated Assault No Firearm  POINT (-75.26380374 40.05509472)

In [65]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_42_bg_500k/cb_2018_42_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(9739, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,42,101,020200,4,1500000US421010202004,421010202004,4,BG,143484,0,"POLYGON ((-75.167 40.01, -75.161 40.013, -75.1..."
1,42,081,010100,1,1500000US420810101001,420810101001,1,BG,470615040,1573281,"POLYGON ((-77.359 41.481, -77.358 41.544, -77...."
2,42,101,018002,2,1500000US421010180022,421010180022,2,BG,101404,0,"POLYGON ((-75.107 39.983, -75.105 39.983, -75...."
3,42,011,001900,2,1500000US420110019002,420110019002,2,BG,74434,0,"POLYGON ((-75.918 40.334, -75.914 40.334, -75...."
4,42,013,010900,6,1500000US420130109006,420130109006,6,BG,1289939,0,"POLYGON ((-78.386 40.448, -78.381 40.455, -78...."

In [67]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                text_general_code                geometry
3                 Robbery Firearm  POINT (-75.264 40.055)
4                 Robbery Firearm  POINT (-75.264 40.055)
7   Aggravated Assault No Firearm  POINT (-75.264 40.055)
9              Robbery No Firearm  POINT (-75.264 40.055)
14  Aggravated Assault No Firearm  POINT (-75.264 40.055)

In [69]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(15288, 13)

,text_general_code,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
3,Robbery Firearm,POINT (-75.264 40.055),5386.0,42,091,203105,3,1500000US420912031053,420912031053,3,BG,4954562.0,235089.0
4,Robbery Firearm,POINT (-75.264 40.055),5386.0,42,091,203105,3,1500000US420912031053,420912031053,3,BG,4954562.0,235089.0
7,Aggravated Assault No Firearm,POINT (-75.264 40.055),5386.0,42,091,203105,3,1500000US420912031053,420912031053,3,BG,4954562.0,235089.0
9,Robbery No Firearm,POINT (-75.264 40.055),5386.0,42,091,203105,3,1500000US420912031053,420912031053,3,BG,4954562.0,235089.0
14,Aggravated Assault No Firearm,POINT (-75.264 40.055),5386.0,42,091,203105,3,1500000US420912031053,420912031053,3,BG,4954562.0,235089.0

In [71]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US420912031053    266
1500000US421010005001    178
1500000US421010004022    146
1500000US421010302001     89
1500000US421010201022     86
                        ...
1500000US420912104002      1
1500000US420912022022      1
1500000US421010214003      1
1500000US421010231001      1
1500000US421010218003      1
Name: count, Length: 1299, dtype: int64

In [73]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Philly_Violent_Crime_BG.csv')