In [46]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [47]:
dfCrime = pd.read_csv('/Users/tanisha/Desktop/Raleigh_Police_Incidents_(NIBRS).csv')
print(dfCrime.shape)
dfCrime.head()

(564584, 23)

,X,Y,OBJECTID,GlobalID,case_number,crime_category,crime_code,crime_description,crime_type,reported_block_address,...,reported_date,reported_year,reported_month,reported_day,reported_hour,reported_dayofwk,latitude,longitude,agency,updated_date
0,NaN,NaN,12001,9cdee08d-11c8-4789-864b-6965a1b2e620,NaN,MISCELLANEOUS,81H,Miscellaneous/Missing Person (18 & over),NaN,NaN,...,2017/01/15 03:28:00+00,2017,1,14,22,Saturday,0.0,0.0,RPD,2017/01/19 20:11:28.950+00
1,NaN,NaN,12002,6f6731f4-dd64-44c7-895c-555de2703c8a,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2017/07/29 12:35:00+00,2017,7,29,8,Saturday,0.0,0.0,RPD,2017/08/01 14:06:50.553+00
2,NaN,NaN,12003,f0fd0e92-448e-4ca8-86c9-e6594564318b,NaN,MISCELLANEOUS,81F,Miscellaneous/Mental Commitment,NaN,NaN,...,2016/03/07 03:52:00+00,2016,3,6,22,Sunday,0.0,0.0,RPD,2016/04/14 14:43:38.923+00
3,NaN,NaN,12004,8a212e84-7b53-478a-b225-c212aa25d7fd,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2015/03/24 04:59:00+00,2015,3,24,0,Tuesday,0.0,0.0,RPD,2015/03/25 19:24:28.430+00
4,NaN,NaN,12005,01614b98-48f5-4374-a561-17c4b29d8857,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2015/12/23 00:57:00+00,2015,12,22,19,Tuesday,0.0,0.0,RPD,2016/01/13 19:29:51.767+00

In [48]:
list(dfCrime.columns)

['X',
 'Y',
 'OBJECTID',
 'GlobalID',
 'case_number',
 'crime_category',
 'crime_code',
 'crime_description',
 'crime_type',
 'reported_block_address',
 'city_of_incident',
 'city',
 'district',
 'reported_date',
 'reported_year',
 'reported_month',
 'reported_day',
 'reported_hour',
 'reported_dayofwk',
 'latitude',
 'longitude',
 'agency',
 'updated_date']

In [49]:
dfCrime = dfCrime[dfCrime['reported_year'] == 2018]
print(dfCrime.shape)
dfCrime.head()

(50184, 23)

,X,Y,OBJECTID,GlobalID,case_number,crime_category,crime_code,crime_description,crime_type,reported_block_address,...,reported_date,reported_year,reported_month,reported_day,reported_hour,reported_dayofwk,latitude,longitude,agency,updated_date
35,NaN,NaN,12042,ffb86bd3-b272-4e91-81d4-8bca5f69bf71,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2018/02/04 08:15:00+00,2018,2,4,3,Sunday,0.0,0.0,RPD,2018/10/24 17:02:15.160+00
105,NaN,NaN,12126,d4982ed6-841b-456e-b569-9428305b13c4,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2018/02/28 00:19:00+00,2018,2,27,19,Tuesday,0.0,0.0,RPD,2018/10/24 17:35:18.360+00
109,NaN,NaN,12130,7a3278a6-948e-4ada-b686-73fc1b459835,NaN,MISCELLANEOUS,81B,Miscellaneous/Deceased Person,NaN,NaN,...,2018/02/14 21:09:00+00,2018,2,14,16,Wednesday,0.0,0.0,RPD,2023/05/26 22:31:51.043+00
119,NaN,NaN,12142,897b03fd-73ae-4129-9686-4d17399664bb,NaN,MISCELLANEOUS,81E,Miscellaneous/Lost Property,NaN,NaN,...,2018/01/02 16:12:00+00,2018,1,2,11,Tuesday,0.0,0.0,RPD,2018/10/24 16:20:41.230+00
174,NaN,NaN,12203,8b2928e3-0313-4e63-b370-59afc7e4670c,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2018/01/10 13:36:00+00,2018,1,10,8,Wednesday,0.0,0.0,RPD,2018/10/24 16:31:34.867+00

In [50]:
list(dfCrime['crime_description'].unique())

['Miscellaneous/All Other Non-Offenses',
 'Miscellaneous/Deceased Person',
 'Miscellaneous/Lost Property',
 'Miscellaneous/Mental Commitment',
 'Miscellaneous/Found Property',
 'Miscellaneous/Suicide',
 'Miscellaneous/Injured Person',
 'Miscellaneous/Missing Person (18 & over)',
 'Traffic/Citizen Request',
 'Miscellaneous/Overdose',
 'Sex Offense/Forcible Rape',
 'Sex Offense/Statutory Rape',
 'Family Offenses/Nonviolent (eg: neglect)',
 'Miscellaneous/Missing Person (17 & under)',
 'Sex Offense/Forcible Fondling',
 'Juvenile/Runaway',
 'Sex Offense/Forcible Sodomy',
 'Child Abuse/Simple',
 'Miscellaneous/Overdose Death',
 'Sex Offense/Assault with an Object',
 'Assault/Simple',
 'Sex Offense/Peeping Tom',
 'Fraud/False Pretense or Swindle',
 'All Other/Damage to Property (minor)',
 'Counterfeiting/Forgery',
 'All Other/All Other Offenses',
 'Larceny/All Other',
 'Weapons/Shots Fired',
 'Damage to Property (Group A)',
 'Sex Offense/Indecent Exposure',
 'Disorderly Conduct/Resist-Delay-Obstruct Officer',
 'Embezzlement',
 'Humane/Animal Bite',
 'Burglary/Residential',
 'Traffic/DWI (Driving While Impaired)',
 'Motor Vehicle Theft',
 'Humane/Chemical Deployment',
 'Larceny/Theft of MV Parts-Accessories',
 'Larceny/Shoplifting',
 'Fraud/Credit Card-ATM Fraud',
 'Larceny/Theft from Motor Vehicle',
 'Assault/Intimidation-Communicating Threats',
 'Fraud/ID Theft',
 'Burglary/Commercial or Non-Residential',
 'All Other/Harassing Telephone Calls',
 'All Other/Trespassing',
 'All Other/Unauthorized Use of Vehicle',
 'Assault/Aggravated',
 'Drug Equipment/Paraphernalia',
 'Disorderly Conduct/Begging',
 'Liquor-Alcohol Law Violations',
 'Drug Violation/Felony',
 'All Other/Noise Ordinance Violation',
 'Humane/All Other Humane',
 'Larceny/Theft from Building',
 'Fraud/Worthless-Bad Checks',
 'Homicide/Murder-Nonnegligent Manslaughter',
 'Disorderly Conduct/Disturbing the Peace',
 'Robbery/From Person',
 'Disorderly Conduct/Drunk-Disorderly',
 'Weapons/Carry Concealed Weapon',
 'Drug Violation/Misdemeanor',
 'Stolen Property/Recover Stolen Vehicle (no arrest) (STOLEN FROM OTHER JURISDICTION)',
 'Humane/Vicious Animal',
 'Humane/Injured Animal',
 'Weapons/Illegal Possession of Weapon',
 'Arson',
 'Kidnapping/Abduction',
 'Robbery/From Business',
 'Disorderly Conduct/All Other',
 'Extortion/Blackmail',
 'Fraud/Wire Fraud',
 'Prostitution/Assisting-Promoting',
 'Fraud/Rental Car Conversion',
 'Stolen Property/Recover Stolen Property (no arrest) (STOLEN FROM OTHER JURISDICTION)',
 'Humane/Animal Cruelty',
 'Humane/Rabies Test',
 'Forgery/Prescription Fraud',
 'Humane/Injured Person',
 'Larceny/Purse-Snatching',
 'Stolen Property/Possession (w/ Arrest) (STOLEN FROM OTHER JURISDICTION)',
 'Larceny/Pocket-Picking',
 'Weapons/All Other',
 'Stolen Property/Possess Stolen Vehicle (w/ Arrest) (STOLEN FROM OTHER JURISDICTION)',
 'Larceny/Theft from Coin-Operated Machine',
 'Pornography/Obscene Material',
 'Humane/Stray',
 'Prostitution/Engaging',
 'Fraud/Impersonation of LEO',
 'Fraud/Welfare Fraud',
 'Humane/Noisy Animal',
 'Humane/Pick Up Animal(s)',
 'Human Trafficking/Involuntary Servitude',
 'Homicide/Negligent Manslaughter',
 'FRAUD/FALSE PRETENSE',
 'Human Trafficking/Commercial Sex Acts',
 'MISC/ALL OTHER / NO OFFENSE COMMITTED',
 'Child Abuse/Aggravated',
 'Bribery',
 'FRAUD/ALL OTHER / IDENTITY THEFT',
 'ALL OTHER/ALL OTHER OFFENSES (COMM.THREATS, ETC.)',
 'Juvenile/Truancy',
 'Sex Offense/Incest',
 'FRAUD/CREDIT CARD FRAUD',
 'Prostitution/Purchasing',
 'Gambling/Betting-Wagering',
 'Homicide/Justifiable Homicide']

In [51]:
violentCrimes = [
    'Homicide/Murder-Nonnegligent Manslaughter',
    'Homicide/Negligent Manslaughter',
    'Homicide/Justifiable Homicide',
    'Robbery/From Person',
    'Robbery/From Business',
    'Assault/Aggravated',
    'Sex Offense/Forcible Rape',
    'Sex Offense/Forcible Fondling',
    'Sex Offense/Forcible Sodomy',
    'Sex Offense/Assault with an Object',
    'Child Abuse/Aggravated',
    'Kidnapping/Abduction',
    'Human Trafficking/Involuntary Servitude',
    'Human Trafficking/Commercial Sex Acts'
]

dfCrime = dfCrime[dfCrime['crime_description'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(1954, 23)

,X,Y,OBJECTID,GlobalID,case_number,crime_category,crime_code,crime_description,crime_type,reported_block_address,...,reported_date,reported_year,reported_month,reported_day,reported_hour,reported_dayofwk,latitude,longitude,agency,updated_date
2162,NaN,NaN,14639,0c8c4eef-a892-46f0-8e95-23b6d5a7059b,NaN,SEX OFFENSES,17A,Sex Offense/Forcible Rape,CRIMES AGAINST PERSONS,NaN,...,2018/02/17 20:29:00+00,2018,2,17,15,Saturday,0.0,0.0,RPD,2021/07/03 09:34:51.500+00
3303,NaN,NaN,16030,8eda122a-6f38-404d-86f3-366df76e3ce9,NaN,SEX OFFENSES,17A,Sex Offense/Forcible Rape,CRIMES AGAINST PERSONS,NaN,...,2018/02/18 03:00:00+00,2018,2,17,22,Saturday,0.0,0.0,RPD,2018/10/24 17:22:38.080+00
4011,NaN,NaN,16884,3d483ef7-69f5-4aff-ab4c-36c37df39df7,NaN,SEX OFFENSES,17D,Sex Offense/Forcible Fondling,CRIMES AGAINST PERSONS,NaN,...,2018/01/26 07:43:00+00,2018,1,26,2,Friday,0.0,0.0,RPD,2021/08/27 18:46:24.723+00
4017,NaN,NaN,16893,cfc6dd0f-c73b-4027-b56f-f760008992e0,NaN,SEX OFFENSES,17D,Sex Offense/Forcible Fondling,CRIMES AGAINST PERSONS,NaN,...,2018/01/02 01:11:00+00,2018,1,1,20,Monday,0.0,0.0,RPD,2021/08/27 18:27:07.047+00
4467,NaN,NaN,17421,d671d3f0-9b70-4368-bab3-c0d24788fbcf,NaN,SEX OFFENSES,17B,Sex Offense/Forcible Sodomy,CRIMES AGAINST PERSONS,NaN,...,2018/01/29 21:31:00+00,2018,1,29,16,Monday,0.0,0.0,RPD,2018/10/24 16:54:59.457+00

In [52]:
dfCrime = dfCrime[['GlobalID', 'latitude', 'longitude']]

# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
dfCrime = dfCrime[['GlobalID', 'geometry']]
dfCrime.head()

                                  GlobalID     geometry
2162  0c8c4eef-a892-46f0-8e95-23b6d5a7059b  POINT (0 0)
3303  8eda122a-6f38-404d-86f3-366df76e3ce9  POINT (0 0)
4011  3d483ef7-69f5-4aff-ab4c-36c37df39df7  POINT (0 0)
4017  cfc6dd0f-c73b-4027-b56f-f760008992e0  POINT (0 0)
4467  d671d3f0-9b70-4368-bab3-c0d24788fbcf  POINT (0 0)

In [53]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/tanisha/Desktop/cb_2018_53_bg_500k/cb_2018_53_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(4779, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,53,055,960500,2,1500000US530559605002,530559605002,2,BG,79426978,85200181,"MULTIPOLYGON (((-122.83108 48.57253, -122.8279..."
1,53,053,060903,3,1500000US530530609033,530530609033,3,BG,1278498,1442717,"POLYGON ((-122.53415 47.27515, -122.53302 47.2..."
2,53,033,009701,3,1500000US530330097013,530330097013,3,BG,400991,1607123,"POLYGON ((-122.42114 47.57602, -122.40184 47.5..."
3,53,071,920100,3,1500000US530719201003,530719201003,3,BG,776485840,12137,"POLYGON ((-118.65208 46.17674, -118.65115 46.1..."
4,53,053,071805,2,1500000US530530718052,530530718052,2,BG,419318,0,"POLYGON ((-122.51006 47.16667, -122.49953 47.1..."

In [54]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                                  GlobalID     geometry
2162  0c8c4eef-a892-46f0-8e95-23b6d5a7059b  POINT (0 0)
3303  8eda122a-6f38-404d-86f3-366df76e3ce9  POINT (0 0)
4011  3d483ef7-69f5-4aff-ab4c-36c37df39df7  POINT (0 0)
4017  cfc6dd0f-c73b-4027-b56f-f760008992e0  POINT (0 0)
4467  d671d3f0-9b70-4368-bab3-c0d24788fbcf  POINT (0 0)

In [55]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(1954, 13)

,GlobalID,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
2162,0c8c4eef-a892-46f0-8e95-23b6d5a7059b,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3303,8eda122a-6f38-404d-86f3-366df76e3ce9,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4011,3d483ef7-69f5-4aff-ab4c-36c37df39df7,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,cfc6dd0f-c73b-4027-b56f-f760008992e0,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4467,d671d3f0-9b70-4368-bab3-c0d24788fbcf,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
crime = result['AFFGEOID'].value_counts()
crime

Series([], Name: AFFGEOID, dtype: int64)

In [58]:
# export as a csv
crime.to_csv('seattle_Violent_Crime_BG.csv')