In [139]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [141]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Crime_Reports_20250418.csv')
print(dfCrime.shape)
dfCrime.head()

(102415, 7)

,File Number,Date of Report,Crime Date Time,Crime,Reporting Area,Neighborhood,Location
0,2009-00513,01/21/2009 10:19:00 AM,01/21/2009 10:19,Warrant Arrest,108.0,East Cambridge,"100 Sixth St, Cambridge, MA"
1,2009-00515,01/21/2009 02:26:00 PM,01/05/2009 09:00 - 01/21/2009 12:00,Flim Flam,105.0,East Cambridge,"100 Sciarappa St, Cambridge, MA"
2,2009-00516,01/21/2009 02:48:00 PM,10/01/2008 00:00 - 01/21/2009 00:00,Forgery,105.0,East Cambridge,"300 Charles St, Cambridge, MA"
3,2009-00531,01/21/2009 09:11:00 PM,01/21/2009 19:05 - 21:00,Hit and Run,908.0,Peabody,"300 Concord Ave, Cambridge, MA"
4,2009-00542,01/22/2009 07:55:00 AM,01/22/2009 07:55,Warrant Arrest,1109.0,North Cambridge,"400 Rindge Ave, Cambridge, MA"

In [142]:
dfCrime['Date of Report'] = pd.to_datetime(dfCrime['Date of Report'])
dfCrime.head()

,File Number,Date of Report,Crime Date Time,Crime,Reporting Area,Neighborhood,Location
0,2009-00513,2009-01-21 10:19:00,01/21/2009 10:19,Warrant Arrest,108.0,East Cambridge,"100 Sixth St, Cambridge, MA"
1,2009-00515,2009-01-21 14:26:00,01/05/2009 09:00 - 01/21/2009 12:00,Flim Flam,105.0,East Cambridge,"100 Sciarappa St, Cambridge, MA"
2,2009-00516,2009-01-21 14:48:00,10/01/2008 00:00 - 01/21/2009 00:00,Forgery,105.0,East Cambridge,"300 Charles St, Cambridge, MA"
3,2009-00531,2009-01-21 21:11:00,01/21/2009 19:05 - 21:00,Hit and Run,908.0,Peabody,"300 Concord Ave, Cambridge, MA"
4,2009-00542,2009-01-22 07:55:00,01/22/2009 07:55,Warrant Arrest,1109.0,North Cambridge,"400 Rindge Ave, Cambridge, MA"

In [144]:
dfCrime = dfCrime.loc[(dfCrime['Date of Report'] >= '2018-01-01') & (dfCrime['Date of Report'] < '2019-01-01')]
print(dfCrime.shape)
dfCrime.head()

(5592, 7)

,File Number,Date of Report,Crime Date Time,Crime,Reporting Area,Neighborhood,Location
55328,2018-00002,2018-01-01 08:43:00,01/01/2018 08:42 - 09:00,Simple Assault,601.0,Mid-Cambridge,"0 Temple St, Cambridge, MA"
55329,2018-00021,2018-01-02 11:39:00,12/28/2017 19:15 - 12/31/2017 11:00,Larceny from Building,1002.0,West Cambridge,"0 Brattle St, Cambridge, MA"
55330,2018-00027,2018-01-02 15:36:00,01/02/2018 15:35,Aggravated Assault,601.0,Mid-Cambridge,"0 Temple St, Cambridge, MA"
55386,2018-00003,2018-01-01 10:11:00,12/31/2017 22:15,Larceny from Person,411.0,The Port,"500 Massachusetts Ave, Cambridge, MA"
55387,2018-00034,2018-01-02 20:33:00,01/02/2018 20:32,Shoplifting,504.0,Cambridgeport,"0 Sidney St, Cambridge, MA"

In [147]:
sorted(list(dfCrime['Crime'].unique()))

['Accident',
 'Admin Error',
 'Aggravated Assault',
 'Annoying & Accosting',
 'Arson',
 'Auto Theft',
 'Commercial Break',
 'Commercial Robbery',
 'Counterfeiting',
 'Disorderly',
 'Drinking in Public',
 'Drugs',
 'Embezzlement',
 'Extortion/Blackmail',
 'Flim Flam',
 'Forgery',
 'Harassment',
 'Hit and Run',
 'Homicide',
 'Housebreak',
 'Indecent Exposure',
 'Kidnapping',
 'Larceny (Misc)',
 'Larceny from Building',
 'Larceny from MV',
 'Larceny from Person',
 'Larceny from Residence',
 'Larceny of Bicycle',
 'Larceny of Plate',
 'Larceny of Services',
 'Liquor Possession/Sale',
 'Mal. Dest. Property',
 'Missing Person',
 'Noise Complaint',
 'OUI',
 'Peeping & Spying',
 'Phone Calls',
 'Prostitution',
 'Rec. Stol. Property',
 'Sex Offender Violation',
 'Shoplifting',
 'Simple Assault',
 'Stalking',
 'Street Robbery',
 'Suspicious Package',
 'Taxi Violation',
 'Threats',
 'Trespassing',
 'Violation of H.O.',
 'Warrant Arrest',
 'Weapon Violations']

In [149]:
violentCrimes = ['Aggravated Assault', 'Commercial Robbery', 'Homicide', 'Street Robbery']
propertyCrimes = ['Auto Theft', 'Commercial Break', 'Housebreak', 'Larceny (Misc)', 'Larceny from Building',
                  'Larceny from MV', 'Larceny from Person', 'Larceny from Residence', 'Larceny of Bicycle',
                  'Larceny of Plate', 'Larceny of Services']
both = violentCrimes + propertyCrimes
dfCrime = dfCrime[dfCrime['Crime'].isin(both)]
print(dfCrime.shape)
dfCrime.head()

(1931, 7)

,File Number,Date of Report,Crime Date Time,Crime,Reporting Area,Neighborhood,Location
55329,2018-00021,2018-01-02 11:39:00,12/28/2017 19:15 - 12/31/2017 11:00,Larceny from Building,1002.0,West Cambridge,"0 Brattle St, Cambridge, MA"
55330,2018-00027,2018-01-02 15:36:00,01/02/2018 15:35,Aggravated Assault,601.0,Mid-Cambridge,"0 Temple St, Cambridge, MA"
55386,2018-00003,2018-01-01 10:11:00,12/31/2017 22:15,Larceny from Person,411.0,The Port,"500 Massachusetts Ave, Cambridge, MA"
55498,2018-00065,2018-01-05 09:50:00,01/02/2018 21:00 - 01/03/2018 09:00,Larceny from MV,904.0,Peabody,"Newell St & Stearns St, Cambridge, MA"
55572,2018-00111,2018-01-07 14:15:00,01/06/2018 19:00 - 01/07/2018 14:15,Auto Theft,101.0,East Cambridge,"0 Education St, Cambridge, MA"

In [151]:
import pandas as pd
from tqdm import tqdm
import requests
import time  # You need to import time for the sleep function

def geocode_address(address, api_key):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {
        "address": address,
        "key": api_key
    }
    
    try:
        response = requests.get(base_url, params=params)
        response.raise_for_status()  # Raises an exception for HTTP errors
        data = response.json()
        
        if data["status"] == "OK":
            location = data["results"][0]["geometry"]["location"]
            return location["lat"], location["lng"]
        else:
            print(f"Geocoding failed for {address}. Status: {data['status']}")
            return None, None
    except Exception as e:
        print(f"Error geocoding {address}: {str(e)}")
        return None, None

def geocode_dataframe(df, api_key, address_col='Location'):
    results = []
    
    for address in tqdm(df[address_col], desc="Geocoding addresses"):
        lat, lng = geocode_address(address, api_key)
        results.append({
            'address': address,
            'latitude': lat,
            'longitude': lng,
            'geocoded': lat is not None
        })
        time.sleep(0.1)  # Respect rate limits
    
    return pd.DataFrame(results)

geocoded_df = geocode_dataframe(dfCrime, '1')
print(geocoded_df.shape)
geocoded_df.head()

Geocoding addresses: 100%|██████████████████| 1931/1931 [07:01<00:00,  4.58it/s]

(1931, 4)

                                 address   latitude  longitude  geocoded
0            0 Brattle St, Cambridge, MA  42.373222 -71.119948      True
1             0 Temple St, Cambridge, MA  42.365986 -71.104666      True
2   500 Massachusetts Ave, Cambridge, MA  42.363959 -71.101794      True
3  Newell St & Stearns St, Cambridge, MA  42.386191 -71.129082      True
4          0 Education St, Cambridge, MA  42.369582 -71.070386      True

In [159]:
# make our lon and lat into a point type for spacial join
geocoded_df['geometry'] = geocoded_df.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
dfCrime = geocoded_df[['address', 'geometry']]
dfCrime.head()

,address,geometry
0,"0 Brattle St, Cambridge, MA",POINT (-71.1199477 42.373222)
1,"0 Temple St, Cambridge, MA",POINT (-71.10466579999999 42.3659859)
2,"500 Massachusetts Ave, Cambridge, MA",POINT (-71.1017945 42.3639592)
3,"Newell St & Stearns St, Cambridge, MA",POINT (-71.1290822 42.3861913)
4,"0 Education St, Cambridge, MA",POINT (-71.0703855 42.3695821)

In [161]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_25_bg_500k/cb_2018_25_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(4982, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,25,025,090901,2,1500000US250250909012,250250909012,2,BG,900600,293189,"POLYGON ((-71.051 42.321, -71.049 42.32, -71.0..."
1,25,009,203200,5,1500000US250092032005,250092032005,5,BG,814616,419184,"POLYGON ((-70.887 42.498, -70.882 42.503, -70...."
2,25,025,090700,3,1500000US250250907003,250250907003,3,BG,117677,0,"POLYGON ((-71.061 42.322, -71.061 42.322, -71...."
3,25,009,217202,3,1500000US250092172023,250092172023,3,BG,263736,59670,"POLYGON ((-70.898 42.544, -70.894 42.547, -70...."
4,25,017,339600,3,1500000US250173396003,250173396003,3,BG,134287,0,"POLYGON ((-71.115 42.402, -71.113 42.403, -71...."

In [163]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                                 address                geometry
0            0 Brattle St, Cambridge, MA   POINT (-71.12 42.373)
1             0 Temple St, Cambridge, MA  POINT (-71.105 42.366)
2   500 Massachusetts Ave, Cambridge, MA  POINT (-71.102 42.364)
3  Newell St & Stearns St, Cambridge, MA  POINT (-71.129 42.386)
4          0 Education St, Cambridge, MA    POINT (-71.07 42.37)

In [165]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(1931, 13)

,address,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
0,"0 Brattle St, Cambridge, MA",POINT (-71.12 42.373),500,25,017,354100,4,1500000US250173541004,250173541004,4,BG,187485,0
1,"0 Temple St, Cambridge, MA",POINT (-71.105 42.366),2527,25,017,353000,1,1500000US250173530001,250173530001,1,BG,21162,0
2,"500 Massachusetts Ave, Cambridge, MA",POINT (-71.102 42.364),1475,25,017,353101,1,1500000US250173531011,250173531011,1,BG,201209,0
3,"Newell St & Stearns St, Cambridge, MA",POINT (-71.129 42.386),4284,25,017,354600,1,1500000US250173546001,250173546001,1,BG,227155,0
4,"0 Education St, Cambridge, MA",POINT (-71.07 42.37),1579,25,017,352101,2,1500000US250173521012,250173521012,2,BG,225413,17063

In [167]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US250173541004    99
1500000US250173521021    87
1500000US250173530003    85
1500000US250173531011    79
1500000US250173537004    60
                         ..
1500000US250173703007     1
1500000US250173527003     1
1500000US250173703005     1
1500000US250173531023     1
1500000US250214007002     1
Name: count, Length: 103, dtype: int64

In [169]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Cambridge_All_Crime_BG.csv')