In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Crime_Incidents_in_2019.csv')
print(dfCrime.shape)
dfCrime.head()

(33969, 25)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.998459,38.839721,19133977,2019/07/31 02:06:18+00,EVENING,GUN,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,400134.00,130213.00,...,009804 2,9804.0,Precinct 122,38.839713,-76.998457,NaN,2019/07/30 22:42:17+00,2019/07/30 22:55:26+00,717509953,NaN
1,-77.031962,38.908045,19046953,2019/03/20 16:35:01+00,DAY,OTHERS,THEFT/OTHER,1300 - 1399 BLOCK OF 14TH STREET NW,397228.00,137798.00,...,005203 2,5203.0,Precinct 17,38.908037,-77.031960,NaN,2019/03/20 15:30:24+00,2019/03/20 15:45:03+00,717509954,NaN
2,-77.026474,38.945600,19051853,2019/03/28 02:08:24+00,EVENING,OTHERS,THEFT/OTHER,4500 - 4599 BLOCK OF GEORGIA AVENUE NW,397705.17,141966.76,...,002400 2,2400.0,Precinct 46,38.945592,-77.026472,NaN,2019/03/27 18:57:00+00,2019/03/28 02:17:53+00,717509955,NaN
3,-76.975183,38.930162,19206304,2019/11/18 10:39:13+00,MIDNIGHT,OTHERS,THEFT F/AUTO,2000 - 2199 BLOCK OF JACKSON STREET NE,402152.00,140253.00,...,009400 2,9400.0,Precinct 70,38.930155,-76.975181,NaN,2019/11/17 19:00:24+00,2019/11/18 07:45:26+00,717509956,NaN
4,-77.042577,38.902533,19079495,2019/05/09 12:21:18+00,DAY,OTHERS,THEFT/OTHER,1800 - 1899 BLOCK OF K STREET NW,396307.07,137186.46,...,010700 1,10700.0,Precinct 17,38.902525,-77.042574,GOLDEN TRIANGLE,2019/05/08 22:30:40+00,2019/05/09 10:45:37+00,717509960,NaN

In [5]:
list(dfCrime.columns)

['X',
 'Y',
 'CCN',
 'REPORT_DAT',
 'SHIFT',
 'METHOD',
 'OFFENSE',
 'BLOCK',
 'XBLOCK',
 'YBLOCK',
 'WARD',
 'ANC',
 'DISTRICT',
 'PSA',
 'NEIGHBORHOOD_CLUSTER',
 'BLOCK_GROUP',
 'CENSUS_TRACT',
 'VOTING_PRECINCT',
 'LATITUDE',
 'LONGITUDE',
 'BID',
 'START_DATE',
 'END_DATE',
 'OBJECTID',
 'OCTO_RECORD_ID']

In [7]:
list(dfCrime['OFFENSE'].unique())

['ASSAULT W/DANGEROUS WEAPON',
 'THEFT/OTHER',
 'THEFT F/AUTO',
 'ROBBERY',
 'MOTOR VEHICLE THEFT',
 'SEX ABUSE',
 'HOMICIDE',
 'BURGLARY',
 'ARSON']

In [9]:
violentCrimes = ['ASSAULT W/DANGEROUS WEAPON', 'SEX ABUSE', 'ROBBERY', 'HOMICIDE']
propertyCrimes = ['THEFT/OTHER', 'THEFT F/AUTO', 'ROBBERY', 'MOTOR VEHICLE THEFT', 'BURGLARY']
both = violentCrimes + propertyCrimes
dfCrime = dfCrime[dfCrime['OFFENSE'].isin(both)]
print(dfCrime.shape)
dfCrime.head()

(33961, 25)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.998459,38.839721,19133977,2019/07/31 02:06:18+00,EVENING,GUN,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,400134.00,130213.00,...,009804 2,9804.0,Precinct 122,38.839713,-76.998457,NaN,2019/07/30 22:42:17+00,2019/07/30 22:55:26+00,717509953,NaN
1,-77.031962,38.908045,19046953,2019/03/20 16:35:01+00,DAY,OTHERS,THEFT/OTHER,1300 - 1399 BLOCK OF 14TH STREET NW,397228.00,137798.00,...,005203 2,5203.0,Precinct 17,38.908037,-77.031960,NaN,2019/03/20 15:30:24+00,2019/03/20 15:45:03+00,717509954,NaN
2,-77.026474,38.945600,19051853,2019/03/28 02:08:24+00,EVENING,OTHERS,THEFT/OTHER,4500 - 4599 BLOCK OF GEORGIA AVENUE NW,397705.17,141966.76,...,002400 2,2400.0,Precinct 46,38.945592,-77.026472,NaN,2019/03/27 18:57:00+00,2019/03/28 02:17:53+00,717509955,NaN
3,-76.975183,38.930162,19206304,2019/11/18 10:39:13+00,MIDNIGHT,OTHERS,THEFT F/AUTO,2000 - 2199 BLOCK OF JACKSON STREET NE,402152.00,140253.00,...,009400 2,9400.0,Precinct 70,38.930155,-76.975181,NaN,2019/11/17 19:00:24+00,2019/11/18 07:45:26+00,717509956,NaN
4,-77.042577,38.902533,19079495,2019/05/09 12:21:18+00,DAY,OTHERS,THEFT/OTHER,1800 - 1899 BLOCK OF K STREET NW,396307.07,137186.46,...,010700 1,10700.0,Precinct 17,38.902525,-77.042574,GOLDEN TRIANGLE,2019/05/08 22:30:40+00,2019/05/09 10:45:37+00,717509960,NaN

In [11]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)
dfCrime = dfCrime[['OFFENSE', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(33961, 2)

                      OFFENSE                                  geometry
0  ASSAULT W/DANGEROUS WEAPON  POINT (-76.99845652659999 38.8397130247)
1                 THEFT/OTHER      POINT (-77.0319597522 38.9080373712)
2                 THEFT/OTHER      POINT (-77.0264721624 38.9455922443)
3                THEFT F/AUTO      POINT (-76.9751808371 38.9301545501)
4                 THEFT/OTHER      POINT (-77.0425743177 38.9025250187)

In [12]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_11_bg_500k/cb_2018_11_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(450, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,11,001,001500,3,1500000US110010015003,110010015003,3,BG,284806,200,"POLYGON ((-77.064 38.973, -77.053 38.973, -77...."
1,11,001,001402,1,1500000US110010014021,110010014021,1,BG,337376,0,"POLYGON ((-77.062 38.966, -77.059 38.966, -77...."
2,11,001,003301,1,1500000US110010033011,110010033011,1,BG,255035,0,"POLYGON ((-77.012 38.921, -77.012 38.926, -77...."
3,11,001,004100,2,1500000US110010041002,110010041002,2,BG,289805,6192,"POLYGON ((-77.055 38.919, -77.055 38.92, -77.0..."
4,11,001,001702,1,1500000US110010017021,110010017021,1,BG,419232,0,"POLYGON ((-77.023 38.974, -77.023 38.974, -77...."

In [14]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                      OFFENSE                geometry
0  ASSAULT W/DANGEROUS WEAPON   POINT (-76.998 38.84)
1                 THEFT/OTHER  POINT (-77.032 38.908)
2                 THEFT/OTHER  POINT (-77.026 38.946)
3                THEFT F/AUTO   POINT (-76.975 38.93)
4                 THEFT/OTHER  POINT (-77.043 38.903)

In [15]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(33961, 13)

,OFFENSE,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
0,ASSAULT W/DANGEROUS WEAPON,POINT (-76.998 38.84),127.0,11,001,009804,2,1500000US110010098042,110010098042,2,BG,165670.0,0.0
1,THEFT/OTHER,POINT (-77.032 38.908),395.0,11,001,005201,3,1500000US110010052013,110010052013,3,BG,38381.0,0.0
2,THEFT/OTHER,POINT (-77.026 38.946),251.0,11,001,002501,1,1500000US110010025011,110010025011,1,BG,315730.0,0.0
3,THEFT F/AUTO,POINT (-76.975 38.93),369.0,11,001,009400,2,1500000US110010094002,110010094002,2,BG,447363.0,0.0
4,THEFT/OTHER,POINT (-77.043 38.903),192.0,11,001,010700,1,1500000US110010107001,110010107001,1,BG,638412.0,0.0

In [16]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US110010058001    1111
1500000US110010106002     724
1500000US110010107001     721
1500000US110010044002     696
1500000US110010101001     572
                         ...
1500000US110010110001       5
1500000US110010007023       2
1500000US110010073011       2
1500000US110010007013       2
1500000US110010010021       1
Name: count, Length: 450, dtype: int64

In [17]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/DC_All_Crime_BG.csv')

In [18]:
result2 = result[result['OFFENSE'].isin(violentCrimes)]
crime = result2['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US110010106002    65
1500000US110010058001    60
1500000US110010044002    60
1500000US110010096021    51
1500000US110010089031    49
                         ..
1500000US110010021022     1
1500000US110010021024     1
1500000US110010002021     1
1500000US110010003003     1
1500000US110010007012     1
Name: count, Length: 408, dtype: int64

In [19]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/DC_Violent_Crime_BG.csv')

In [20]:
result3 = result[result['OFFENSE'].isin(propertyCrimes)]
crime = result3['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US110010058001    1088
1500000US110010107001     708
1500000US110010106002     697
1500000US110010044002     683
1500000US110010101001     555
                         ...
1500000US110010013011       5
1500000US110010007023       2
1500000US110010007013       2
1500000US110010073011       1
1500000US110010010021       1
Name: count, Length: 450, dtype: int64

In [21]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/DC_Property_Crime_BG.csv')

In [31]:
result4 = result[result['OFFENSE'].isin(['MOTOR VEHICLE THEFT'])]
crime = result4['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US110010106002    41
1500000US110010044002    33
1500000US110010111003    31
1500000US110010107001    28
1500000US110010111001    23
                         ..
1500000US110010012002     1
1500000US110010006001     1
1500000US110010010022     1
1500000US110010026001     1
1500000US110010068022     1
Name: count, Length: 408, dtype: int64

In [33]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/DC_MV_Crime_BG.csv')