In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Incidents_2019.csv')
print(dfCrime.shape)
dfCrime.head()

(50070, 8)

,RB Number,Reported Date,Reported Time,Statute/Ordinance Description,Occurred Location,Occurred District,Occurred Block LAT,Occurred Block LON
0,AL22292,01/01/2019,01:14:14,DOMESTIC ASSAULT,4200 N 93rd St,15,NaN,NaN
1,AL22293,01/01/2019,00:18:38,REQUEST TO LEAVE,1600 Jackson St,52,41.254544,-95.937233
2,AL22294,01/01/2019,01:14:18,ASSAULT - MISDEMEANOR - NO WEAPON,3600 S 132nd St,84,41.224585,-96.119592
3,AL22294,01/01/2019,01:18:03,ASSAULT - MISDEMEANOR - NO WEAPON,3600 S 132nd St,84,41.224585,-96.119592
4,AL22294,01/01/2019,01:07:39,ASSAULT - MISDEMEANOR - NO WEAPON,3600 S 132nd St,84,41.224585,-96.119592

In [3]:
list(dfCrime.columns)

['RB Number',
 'Reported Date',
 'Reported Time',
 'Statute/Ordinance Description',
 'Occurred Location',
 'Occurred District',
 'Occurred Block LAT',
 'Occurred Block LON']

In [4]:
sorted(list(dfCrime['Statute/Ordinance Description'].unique()))

['ABUSE VULNERABLE ADULT -EXPLOIT; FRAUD',
 'ABUSE VULNERABLE ADULT, KNOW & INTENT',
 'ANIMAL BITE',
 'ARSON',
 'ARSON, 1ST DEGREE  -ATTEMPT',
 'ARSON, 2ND DEGREE             -ATTEMPT',
 'ARSON, 3RD DEGREE, $1500/MORE -ATTEMPT',
 'ARSON, 3RD DEGREE, $500-$1499 -ATTEMPT',
 'ARSON, 3RD DEGREE, UNDER $500 -ATTEMPT',
 'ASSAULT - FELONY - AGGRAVATED',
 'ASSAULT - FELONY - AGGRAVATED -ATTEMPT',
 'ASSAULT - MISDEMEANOR - NO WEAPON',
 'ASSAULT - MISDEMEANOR - WEAPON',
 'ASSAULT OFFICER',
 'ASSAULT OFFICER - ATTEMPT',
 'ASSAULT OFFICER/HEALTH CARE PROF, 2ND DEGREE',
 'ASSAULT OFFICER/HEALTH CARE PROF, 3RD DEGREE',
 'BAD CHECK-GOODS,SERV  UNDR $500 -ATMPT',
 'BAD CHECK-GOODS,SERVICE     UNDER $500',
 'BAD CHECK-GOODS,SERVICE    $1500-$4999',
 'BAD CHECK-GOODS,SERVICE    $500-$1499',
 'BURGLARY      -ATTEMPT',
 'BURGLARY-FORCIBLE ENTRY',
 'BURGLARY-NO FORCE ENTRY',
 'CHILD ABUSE BY INTENT-NO SER INJURY',
 'CHILD ABUSE BY INTENT-SER INJ-ATTEMPT',
 'CHILD ABUSE BY INTENT-SERIOUS INJURY',
 'CHILD ABUSE BY NEGLECT-NO SER INJURY',
 'CHILD ABUSE BY NEGLECT-SERIOUS INJURY',
 'COMPUTER-UNAUTHORIZED ACCESS-UND $1000',
 'CONTRIBUTE TO DELINQ OF CHILD UNDER 18',
 'CRIM MISCHIEF-GUN-NOT MO VEH-NOT OCCUP',
 'CRIM MISCHIEF-GUN-NOT MO VEH-OCCUP',
 'CRIM MISCHIEF-GUN-VEH-NOT OCCUP',
 'CRIM MISCHIEF-GUN-VEH-OCCUP',
 'CRIM TRESP,2ND DEG,REQ LEAVE-HATE CRIME',
 'CRIMINAL MISCHIEF $1500-$4999',
 'CRIMINAL MISCHIEF $1500-$4999 -ATTEMPT',
 'CRIMINAL MISCHIEF $500-$1499',
 'CRIMINAL MISCHIEF $500-$1499 -ATTEMPT',
 'CRIMINAL MISCHIEF $5000/MORE',
 'CRIMINAL MISCHIEF UNDER $500',
 'CRIMINAL MISCHIEF-ENHANCED  $500-$1499',
 'CRIMINAL MISCHIEF-ENHANCED  UNDER $500',
 'CRIMINAL MISCHIEF-ENHANCED $1500-$4999',
 'CRIMINAL MISCHIEF-ENHANCED -$5000/MORE',
 'CRIMINAL TRESPASS,1ST DEGREE',
 'CRIMINAL TRESPASS,1ST DEGREE - ATTEMPT',
 'CRIMINAL TRESPASS,2ND DEG,REQ TO LEAVE',
 'CRIMINAL TRESPASS,2ND DEGREE',
 'CRIMINAL TRESPASS,2ND DEGREE-HATE CRIME',
 'CRM MISCH-ENHANCED  UNDER $500-ATTEMPT',
 'DAMAGE TO PROPERTY - NO CRIME',
 'DEATH - ACCIDENTAL',
 'DEATH - NATURAL',
 'DEATH - SUICIDE',
 'DEATH - UNKNOWN',
 'DEATH -MO VEH ACCIDENT ON PRIVATE PROP',
 'DISTURBING THE PEACE',
 'DOMESTIC ASSAULT',
 'ENTICE CHILD -ELECTRONIC COMM DEV',
 'ENTICE MINOR (UNDER 16) INTO VEHICLE',
 'ENTICING A CHILD UNDER 16',
 'EXPLOSIVES-THREATEN TO USE',
 'EXPOSURE-NON CRIMINAL',
 'FAIL TO RETURN LEASE VEHICLE OVR $1500',
 'FAIL TO RETURN LEASED PRPTY $500-1500',
 'FAIL TO RETURN LEASED PRPTY OVR $1500',
 'FALSE IMPRISONMENT, 1ST DEGREE',
 'FALSE IMPRISONMENT, 2ND DEGREE',
 'FALSE IMPRISONMENT, 2ND DEGREE-ATTEMPT',
 'FINAN TRNSACT DEV-UNAUTH USE $1500/MOR',
 'FINAN TRNSACT DEV-UNAUTH USE $200-$499',
 'FINAN TRNSACT DEV-UNAUTH USE $500-1499',
 'FINAN TRNSACT DEV-UNAUTH USE UNDR $200',
 'FORGERY, 1ST DEGREE',
 'FORGERY, 2ND DEG, $500/LESS   -ATTEMPT',
 'FORGERY, 2ND DEG, $501-$1499  -ATTEMPT',
 'FORGERY, 2ND DEGREE   $1500-$4999',
 'FORGERY, 2ND DEGREE   $500/LESS',
 'FORGERY, 2ND DEGREE   $5000 OR MORE',
 'FORGERY, 2ND DEGREE   $501 - $1499',
 'FRAUD: OBTAIN PROPERTY',
 'GRAFFITI $1500/MORE -CRIMINAL MISCHIEF',
 'GRAFFITI UNDR $1500 -CRIMINAL MISCHIEF',
 'HARASSMENT-PHONE,VOICE MAIL,EMAIL,FAX',
 'HOMICIDE',
 'IDENTITY FRAUD: 1ST OFFENSE',
 'IDENTITY THEFT: $1500-$4999  1ST OFF',
 'IDENTITY THEFT: $1500-4999-1ST OFF-ATTEMPT',
 'IDENTITY THEFT: $500-$1499  1ST OFF',
 'IDENTITY THEFT: $500-1499 1ST OFF -ATTEMPT',
 'IDENTITY THEFT: $5000/MORE  1ST OFF',
 'IDENTITY THEFT: $5000/MORE  1ST OFF -ATTEMPT',
 'IDENTITY THEFT: UNDER $500  1ST OFF',
 'IDENTITY THEFT: UNDR $500-1ST OFF -ATTEMPT',
 'INDECENT EXPOSURE',
 'INDECENT LIBERTIES WITH CHILD UNDER 16',
 'INJURY',
 "INTRUDE-PERSON'S PRIVACY-DISTR VIDEO/IMAGE",
 "INTRUDE-PERSON'S PRIVACY-RECORD VIDEO/IMAGE",
 "INTRUDE-PERSON'S PRIVACY-VIEW PERSON",
 'KIDNAPPING',
 'KIDNAPPING -ATTEMPT',
 'LABOR/SEX TRAFFICKING',
 'LITTER PUBLIC/PRIVATE PROPERTY-1ST OFF',
 'MISSING PROPERTY (LOST OR STOLEN)',
 'NEGLECT MINOR CHILD BY CARETAKER',
 'NO ACCOUNT CHECK - ISSUED  $1500-$4999',
 'NO ACCOUNT CHECK - ISSUED  $500-$1499',
 'NO ACCOUNT CHECK - ISSUED  UNDER $500',
 'OBSCENE PHONE CALL',
 'OVERDOSE',
 'PHONE CALL - INTIMIDATE/HARASS/OFFEND',
 'PROT ORD - FOREIGN - DOMESTIC ABUSE',
 'PROT ORD-DOMESTIC ABUSE-1ST OFFENSE',
 'PROTECTION ORDER - HARASSMENT',
 'REQUEST TO LEAVE',
 'RESTRAINING ORDER - DIVORCE/ANNULMENT',
 'ROBBERY       -ATTEMPT',
 'ROBBERY -FIREARM',
 'ROBBERY -FIREARM              -ATTEMPT',
 'ROBBERY -KNIFE/CUTTING INSTR  -ATTEMPT',
 'ROBBERY -KNIFE/CUTTING INSTRUMENT',
 'ROBBERY -OTHER DANGEROUS WEAPON',
 'ROBBERY -OTHER WEAPON         -ATTEMPT',
 'ROBBERY -STRONG ARM -NO WEAPON',
 'SEXUAL ASSAULT - CONTACT',
 'SEXUAL ASSAULT-ATT PENETRATION',
 'SEXUAL ASSAULT-PENETRATION',
 'SICKNESS',
 'STALKING-FOLLOW/HARASS,CREDIBLE THREAT',
 'STALKING: VIOLATE PROTECTION ORDER',
 'SUICIDE ATTEMPT',
 'TAMPER WITH WITNESS/INFORMANT/JUROR',
 'TERRORISTIC THREAT',
 'TERRORISTIC THREAT            -ATTEMPT',
 'THEFT BY DECEPTION      $500/LESS',
 'THEFT BY DECEPTION     $1500-$4999',
 'THEFT BY DECEPTION     $5000/MORE',
 'THEFT BY DECEPTION     $501 -$1499',
 'THEFT BY DECEPTION   $500/LESS         EMBEZ',
 'THEFT BY DECEPTION  $1500-$4999        EMBEZ',
 'THEFT BY DECEPTION  $500/LESS -ATTEMPT',
 'THEFT BY DECEPTION  $5000/MORE         EMBEZ',
 'THEFT BY DECEPTION  $501-$1499         EMBEZ',
 'THEFT BY DECEPTION $1500-4999 -ATTEMPT',
 'THEFT BY DECEPTION $501-$1499 -ATTEMPT',
 'THEFT BY EXTORTION          $500/LESS',
 'THEFT BY EXTORTION         $1500-$4999',
 'THEFT BY EXTORTION         $501-$1499',
 'THEFT BY EXTORTION   $500/LESS  -ATMPT',
 'THEFT BY EXTORTION  $5000/MORE  -ATMPT',
 'THEFT BY EXTORTION  $501-$1499  -ATMPT',
 'THEFT BY SHOPLIFT  $1500-4999',
 'THEFT BY SHOPLIFT  $1500-4999 -ATTEMPT',
 'THEFT BY SHOPLIFT  $500/LESS',
 'THEFT BY SHOPLIFT  $500/LESS  -ATTEMPT',
 'THEFT BY SHOPLIFT  $5000/MORE',
 'THEFT BY SHOPLIFT  $501-$1499',
 'THEFT BY SHOPLIFT  $501-$1499 -ATTEMPT',
 'THEFT BY UNLAWFUL TAKING    $200/LESS',
 'THEFT BY UNLAWFUL TAKING    $201-$499',
 'THEFT BY UNLAWFUL TAKING    $50 - $199',
 'THEFT BY UNLAWFUL TAKING    $500-1500',
 'THEFT BY UNLAWFUL TAKING    - ATTEMPT',
 'THEFT BY UNLAWFUL TAKING    OVR $1500',
 'THEFT BY UNLAWFUL TAKING    UNDER $50',
 'THEFT BY UNLAWFUL TAKING   $200-$1499',
 'THEFT OF MOTOR VEHICLE        -ATTEMPT  MV',
 'THEFT OF MOTOR VEHICLE - FELONY         MV',
 'THEFT OF MOTOR VEHICLE - MISDEMEANOR    MV',
 'THEFT OF SERVICES           $500/LESS',
 'THEFT OF SERVICES          $501-$1499',
 'THEFT OF SERVICES     $1500-$4999',
 'THEFT OF TELECOMMUNICATIONS SERVICES',
 'THEFT OF UTILITY SERVICES',
 'THREAT,HARASS - NO CRIME',
 'TOW VEH FROM PVT PROP - NOT AUTHORIZED',
 'TRESPASS',
 'UNAUTHORIZED USE-PROPELLED VEHICLE      MV',
 'UNLAWFUL ENTRY/THEFT -GARAGE, OTHER',
 'UNLAWFUL OCCUPANCY',
 'VIOLATION OF CUSTODY -VIOL COURT ORDER']

In [8]:
violentCrimes = ['ASSAULT - FELONY - AGGRAVATED', 'ASSAULT - FELONY - AGGRAVATED -ATTEMPT', 'HOMICIDE', 
                 'HOMICIDE - ATTEMPT', 'ROBBERY       -ATTEMPT', 'ROBBERY -FIREARM', 'ROBBERY -FIREARM              -ATTEMPT',
                 'ROBBERY -KNIFE/CUTTING INSTR  -ATTEMPT', 'ROBBERY -KNIFE/CUTTING INSTRUMENT', 'ROBBERY -OTHER DANGEROUS WEAPON',
                 'ROBBERY -OTHER WEAPON         -ATTEMPT', 'ROBBERY -STRONG ARM -NOWEAPON', 'SEXUAL ASSAULT - CONTACT',
                 'SEXUAL ASSAULT-ATT PENETRATION', 'SEXUAL ASSAULT-PENETRATION']
propertyCrimes = ['BURGLARY      -ATTEMPT', 'BURGLARY-FORCIBLE ENTRY', 'BURGLARY-NO FORCE ENTRY', 'THEFT BY DECEPTION      $500/LESS',
                  'THEFT BY DECEPTION     $1500-$4999', 'THEFT BY DECEPTION     $5000/MORE', 'THEFT BY DECEPTION     $501 -$1499',
                  'THEFT BY DECEPTION   $500/LESS         EMBEZ', 'THEFT BY DECEPTION  $1500-$4999        EMBEZ', 'THEFT BY DECEPTION  $500/LESS -ATTEMPT',
                  'THEFT BY DECEPTION  $5000/MORE         EMBEZ', 'THEFT BY DECEPTION  $501-$1499         EMBEZ',
                  'THEFT BY DECEPTION $1500-4999 -ATTEMPT', 'THEFT BY DECEPTION $501-$1499 -ATTEMPT', 'THEFT BY EXTORTION          $500/LESS',
                  'THEFT BY EXTORTION         $1500-$4999', 'THEFT BY EXTORTION         $501-$1499', 'THEFT BY EXTORTION   $500/LESS  -ATMPT',
                  'THEFT BY EXTORTION  $5000/MORE  -ATMPT', 'THEFT BY EXTORTION  $501-$1499  -ATMPT', 'THEFT BY SHOPLIFT  $1500-4999',
                  'THEFT BY SHOPLIFT  $1500-4999 -ATTEMPT', 'THEFT BY SHOPLIFT  $500/LESS', 'THEFT BY SHOPLIFT  $500/LESS  -ATTEMPT',
                  'THEFT BY SHOPLIFT  $5000/MORE', 'THEFT BY SHOPLIFT  $501-$1499', 'THEFT BY SHOPLIFT  $501-$1499 -ATTEMPT',
                  'THEFT BY UNLAWFUL TAKING    $200/LESS', 'THEFT BY UNLAWFUL TAKING    $201-$499', 'THEFT BY UNLAWFUL TAKING    $50 - $199',
                  'THEFT BY UNLAWFUL TAKING    $500-1500', 'THEFT BY UNLAWFUL TAKING    - ATTEMPT', 'THEFT BY UNLAWFUL TAKING    OVR $1500',
                  'THEFT BY UNLAWFUL TAKING    UNDER $50', 'THEFT BY UNLAWFUL TAKING   $200-$1499', 'THEFT OF MOTOR VEHICLE        -ATTEMPT  MV',
                  'THEFT OF MOTOR VEHICLE - FELONY         MV', 'THEFT OF MOTOR VEHICLE - MISDEMEANOR    MV',
                  'THEFT OF SERVICES           $500/LESS', 'THEFT OF SERVICES          $501-$1499', 'THEFT OF SERVICES     $1500-$4999', 'THEFT OF TELECOMMUNICATIONS SERVICES', 'THEFT OF UTILITY SERVICES']
both = violentCrimes + propertyCrimes
dfCrime = dfCrime[dfCrime['Statute/Ordinance Description'].isin(both)]
dfCrime = dfCrime[['Statute/Ordinance Description', 'Occurred Block LON', 'Occurred Block LAT']]
print(dfCrime.shape)
dfCrime.head()

(22238, 3)

,Statute/Ordinance Description,Occurred Block LON,Occurred Block LAT
8,THEFT OF MOTOR VEHICLE - FELONY MV,NaN,NaN
15,BURGLARY-FORCIBLE ENTRY,-96.084623,41.233031
16,THEFT OF MOTOR VEHICLE - FELONY MV,NaN,NaN
25,BURGLARY-NO FORCE ENTRY,NaN,NaN
26,BURGLARY-NO FORCE ENTRY,-95.963803,41.253362

In [11]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['Occurred Block LON'], row['Occurred Block LAT']), axis=1)
dfCrime = dfCrime[['Statute/Ordinance Description', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(22238, 2)

,Statute/Ordinance Description,geometry
8,THEFT OF MOTOR VEHICLE - FELONY MV,POINT (nan nan)
15,BURGLARY-FORCIBLE ENTRY,POINT (-96.08462339299997 41.23303064200007)
16,THEFT OF MOTOR VEHICLE - FELONY MV,POINT (nan nan)
25,BURGLARY-NO FORCE ENTRY,POINT (nan nan)
26,BURGLARY-NO FORCE ENTRY,POINT (-95.96380345699998 41.25336174000006)

In [12]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_31_bg_500k/cb_2018_31_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(1633, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,31,055,007513,2,1500000US310550075132,310550075132,2,BG,2601411,0,"POLYGON ((-96.216 41.263, -96.196 41.263, -96...."
1,31,055,004900,5,1500000US310550049005,310550049005,5,BG,254456,0,"POLYGON ((-95.981 41.265, -95.976 41.265, -95...."
2,31,101,000100,1,1500000US311010001001,311010001001,1,BG,419919,0,"POLYGON ((-101.73 41.132, -101.72 41.133, -101..."
3,31,055,006302,3,1500000US310550063023,310550063023,3,BG,646852,0,"POLYGON ((-96.005 41.306, -96.005 41.307, -95...."
4,31,081,969300,4,1500000US310819693004,310819693004,4,BG,1025878,0,"POLYGON ((-98.017 40.868, -98.006 40.868, -98...."

In [14]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                 Statute/Ordinance Description                geometry
8   THEFT OF MOTOR VEHICLE - FELONY         MV         POINT (nan nan)
15                     BURGLARY-FORCIBLE ENTRY  POINT (-96.085 41.233)
16  THEFT OF MOTOR VEHICLE - FELONY         MV         POINT (nan nan)
25                     BURGLARY-NO FORCE ENTRY         POINT (nan nan)
26                     BURGLARY-NO FORCE ENTRY  POINT (-95.964 41.253)

In [15]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(22238, 13)

,Statute/Ordinance Description,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
8,THEFT OF MOTOR VEHICLE - FELONY MV,POINT (nan nan),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,BURGLARY-FORCIBLE ENTRY,POINT (-96.085 41.233),217.0,31,055,006904,3,1500000US310550069043,310550069043,3,BG,943265.0,1356.0
16,THEFT OF MOTOR VEHICLE - FELONY MV,POINT (nan nan),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,BURGLARY-NO FORCE ENTRY,POINT (nan nan),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,BURGLARY-NO FORCE ENTRY,POINT (-95.964 41.253),838.0,31,055,004200,2,1500000US310550042002,310550042002,2,BG,244988.0,0.0

In [16]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US310550074093    447
1500000US310550074451    422
1500000US310550058001    372
1500000US310550067011    339
1500000US310550068062    260
                        ...
1500000US310550046001      1
1500000US310550067013      1
1500000US310550074331      1
1500000US310550074702      1
1500000US310550063012      1
Name: count, Length: 442, dtype: int64

In [17]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Omaha_all_crime_by_BG.csv')

In [18]:
result2 = result[result['Statute/Ordinance Description'].isin(violentCrimes)]
crime = result2['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US310550052002    28
1500000US310550031004    22
1500000US310550059021    19
1500000US310550060001    17
1500000US310550060003    17
                         ..
1500000US310550066044     1
1500000US310550031002     1
1500000US310550074625     1
1500000US310550058006     1
1500000US310550033002     1
Name: count, Length: 258, dtype: int64

In [19]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Omaha_violent_crime_by_BG.csv')

In [20]:
result3 = result[result['Statute/Ordinance Description'].isin(propertyCrimes)]
crime = result3['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US310550074093    439
1500000US310550074451    420
1500000US310550058001    364
1500000US310550067011    332
1500000US310550068062    256
                        ...
1500000US310550074293      1
1500000US310550074432      1
1500000US310550070022      1
1500000US310550075052      1
1500000US310550074674      1
Name: count, Length: 439, dtype: int64

In [21]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Omaha_property_crime_by_BG.csv')

In [22]:
result4 = result[result['Statute/Ordinance Description'].isin(['THEFT OF MOTOR VEHICLE        -ATTEMPT  MV', 'THEFT OF MOTOR VEHICLE - FELONY         MV', 'THEFT OF MOTOR VEHICLE - MISDEMEANOR    MV'])]
crime = result4['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US310550074093    40
1500000US310550031004    30
1500000US310550070031    24
1500000US310550005001    22
1500000US310550070032    21
                         ..
1500000US310550074634     1
1500000US310550045001     1
1500000US310550025002     1
1500000US310550074703     1
1500000US310550073042     1
Name: count, Length: 348, dtype: int64

In [33]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Omaha_mv_crime_by_BG.csv')