In [3]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [7]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Crime_Reports_20250418.csv')
print(dfCrime.shape)
dfCrime.head()

(102415, 7)

,File Number,Date of Report,Crime Date Time,Crime,Reporting Area,Neighborhood,Location
0,2009-00513,01/21/2009 10:19:00 AM,01/21/2009 10:19,Warrant Arrest,108.0,East Cambridge,"100 Sixth St, Cambridge, MA"
1,2009-00515,01/21/2009 02:26:00 PM,01/05/2009 09:00 - 01/21/2009 12:00,Flim Flam,105.0,East Cambridge,"100 Sciarappa St, Cambridge, MA"
2,2009-00516,01/21/2009 02:48:00 PM,10/01/2008 00:00 - 01/21/2009 00:00,Forgery,105.0,East Cambridge,"300 Charles St, Cambridge, MA"
3,2009-00531,01/21/2009 09:11:00 PM,01/21/2009 19:05 - 21:00,Hit and Run,908.0,Peabody,"300 Concord Ave, Cambridge, MA"
4,2009-00542,01/22/2009 07:55:00 AM,01/22/2009 07:55,Warrant Arrest,1109.0,North Cambridge,"400 Rindge Ave, Cambridge, MA"

In [9]:
dfCrime['Date of Report'] = pd.to_datetime(dfCrime['Date of Report'])
dfCrime.head()

,File Number,Date of Report,Crime Date Time,Crime,Reporting Area,Neighborhood,Location
0,2009-00513,2009-01-21 10:19:00,01/21/2009 10:19,Warrant Arrest,108.0,East Cambridge,"100 Sixth St, Cambridge, MA"
1,2009-00515,2009-01-21 14:26:00,01/05/2009 09:00 - 01/21/2009 12:00,Flim Flam,105.0,East Cambridge,"100 Sciarappa St, Cambridge, MA"
2,2009-00516,2009-01-21 14:48:00,10/01/2008 00:00 - 01/21/2009 00:00,Forgery,105.0,East Cambridge,"300 Charles St, Cambridge, MA"
3,2009-00531,2009-01-21 21:11:00,01/21/2009 19:05 - 21:00,Hit and Run,908.0,Peabody,"300 Concord Ave, Cambridge, MA"
4,2009-00542,2009-01-22 07:55:00,01/22/2009 07:55,Warrant Arrest,1109.0,North Cambridge,"400 Rindge Ave, Cambridge, MA"

In [11]:
dfCrime = dfCrime.loc[(dfCrime['Date of Report'] >= '2018-01-01') & (dfCrime['Date of Report'] < '2019-01-01')]
print(dfCrime.shape)
dfCrime.head()

(5592, 7)

,File Number,Date of Report,Crime Date Time,Crime,Reporting Area,Neighborhood,Location
55328,2018-00002,2018-01-01 08:43:00,01/01/2018 08:42 - 09:00,Simple Assault,601.0,Mid-Cambridge,"0 Temple St, Cambridge, MA"
55329,2018-00021,2018-01-02 11:39:00,12/28/2017 19:15 - 12/31/2017 11:00,Larceny from Building,1002.0,West Cambridge,"0 Brattle St, Cambridge, MA"
55330,2018-00027,2018-01-02 15:36:00,01/02/2018 15:35,Aggravated Assault,601.0,Mid-Cambridge,"0 Temple St, Cambridge, MA"
55386,2018-00003,2018-01-01 10:11:00,12/31/2017 22:15,Larceny from Person,411.0,The Port,"500 Massachusetts Ave, Cambridge, MA"
55387,2018-00034,2018-01-02 20:33:00,01/02/2018 20:32,Shoplifting,504.0,Cambridgeport,"0 Sidney St, Cambridge, MA"

In [13]:
sorted(list(dfCrime['Crime'].unique()))

['Accident',
 'Admin Error',
 'Aggravated Assault',
 'Annoying & Accosting',
 'Arson',
 'Auto Theft',
 'Commercial Break',
 'Commercial Robbery',
 'Counterfeiting',
 'Disorderly',
 'Drinking in Public',
 'Drugs',
 'Embezzlement',
 'Extortion/Blackmail',
 'Flim Flam',
 'Forgery',
 'Harassment',
 'Hit and Run',
 'Homicide',
 'Housebreak',
 'Indecent Exposure',
 'Kidnapping',
 'Larceny (Misc)',
 'Larceny from Building',
 'Larceny from MV',
 'Larceny from Person',
 'Larceny from Residence',
 'Larceny of Bicycle',
 'Larceny of Plate',
 'Larceny of Services',
 'Liquor Possession/Sale',
 'Mal. Dest. Property',
 'Missing Person',
 'Noise Complaint',
 'OUI',
 'Peeping & Spying',
 'Phone Calls',
 'Prostitution',
 'Rec. Stol. Property',
 'Sex Offender Violation',
 'Shoplifting',
 'Simple Assault',
 'Stalking',
 'Street Robbery',
 'Suspicious Package',
 'Taxi Violation',
 'Threats',
 'Trespassing',
 'Violation of H.O.',
 'Warrant Arrest',
 'Weapon Violations']

In [15]:
violentCrimes = ['Aggravated Assault', 'Commercial Robbery', 'Homicide', 'Street Robbery']
dfCrime = dfCrime[dfCrime['Crime'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(226, 7)

,File Number,Date of Report,Crime Date Time,Crime,Reporting Area,Neighborhood,Location
55330,2018-00027,2018-01-02 15:36:00,01/02/2018 15:35,Aggravated Assault,601.0,Mid-Cambridge,"0 Temple St, Cambridge, MA"
55579,2018-00170,2018-01-10 08:39:00,01/10/2018 08:38,Aggravated Assault,502.0,Cambridgeport,"Pacific St & Sidney St, Cambridge, MA"
56085,2018-00697,2018-02-02 02:18:00,01/31/2018 14:00 - 02/02/2018 02:18,Street Robbery,701.0,Riverside,"800 Massachusetts Ave, Cambridge, MA"
56165,2018-00726,2018-02-03 18:40:00,02/03/2018 18:40 - 18:45,Commercial Robbery,101.0,East Cambridge,"0 Leighton St, Cambridge, MA"
56166,2018-00737,2018-02-04 15:59:00,02/04/2018 15:59,Aggravated Assault,102.0,East Cambridge,"100 Cambridgeside Pl, Cambridge, MA"

In [17]:
import pandas as pd
from tqdm import tqdm
import requests
import time  # You need to import time for the sleep function

def geocode_address(address, api_key):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {
        "address": address,
        "key": api_key
    }
    
    try:
        response = requests.get(base_url, params=params)
        response.raise_for_status()  # Raises an exception for HTTP errors
        data = response.json()
        
        if data["status"] == "OK":
            location = data["results"][0]["geometry"]["location"]
            return location["lat"], location["lng"]
        else:
            print(f"Geocoding failed for {address}. Status: {data['status']}")
            return None, None
    except Exception as e:
        print(f"Error geocoding {address}: {str(e)}")
        return None, None

def geocode_dataframe(df, api_key, address_col='Location'):
    results = []
    
    for address in tqdm(df[address_col], desc="Geocoding addresses"):
        lat, lng = geocode_address(address, api_key)
        results.append({
            'address': address,
            'latitude': lat,
            'longitude': lng,
            'geocoded': lat is not None
        })
        time.sleep(0.1)  # Respect rate limits
    
    return pd.DataFrame(results)

geocoded_df = geocode_dataframe(dfCrime, 'AIzaSyCRBq3v2IxJYfFtCwRtMt9A3ZwqQoQa6Hs')
geocoded_df.head()

Geocoding addresses: 100%|████████████████████| 226/226 [00:52<00:00,  4.33it/s]

                                 address   latitude  longitude  geocoded
0             0 Temple St, Cambridge, MA  42.365986 -71.104666      True
1  Pacific St & Sidney St, Cambridge, MA  42.360357 -71.102463      True
2   800 Massachusetts Ave, Cambridge, MA  42.366611 -71.106394      True
3           0 Leighton St, Cambridge, MA  42.370432 -71.074147      True
4    100 Cambridgeside Pl, Cambridge, MA  42.367441 -71.076565      True

In [19]:
# make our lon and lat into a point type for spacial join
geocoded_df['geometry'] = geocoded_df.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
dfCrime = geocoded_df[['address', 'geometry']]
dfCrime.head()

,address,geometry
0,"0 Temple St, Cambridge, MA",POINT (-71.10466579999999 42.3659859)
1,"Pacific St & Sidney St, Cambridge, MA",POINT (-71.1024633 42.3603574)
2,"800 Massachusetts Ave, Cambridge, MA",POINT (-71.10639399999999 42.3666107)
3,"0 Leighton St, Cambridge, MA",POINT (-71.074147 42.3704316)
4,"100 Cambridgeside Pl, Cambridge, MA",POINT (-71.0765648 42.367441)

In [21]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Downloads/Rent-Walk-Local/cb_2018_25_bg_500k/cb_2018_25_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(4982, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,25,025,090901,2,1500000US250250909012,250250909012,2,BG,900600,293189,"POLYGON ((-71.051 42.321, -71.049 42.32, -71.0..."
1,25,009,203200,5,1500000US250092032005,250092032005,5,BG,814616,419184,"POLYGON ((-70.887 42.498, -70.882 42.503, -70...."
2,25,025,090700,3,1500000US250250907003,250250907003,3,BG,117677,0,"POLYGON ((-71.061 42.322, -71.061 42.322, -71...."
3,25,009,217202,3,1500000US250092172023,250092172023,3,BG,263736,59670,"POLYGON ((-70.898 42.544, -70.894 42.547, -70...."
4,25,017,339600,3,1500000US250173396003,250173396003,3,BG,134287,0,"POLYGON ((-71.115 42.402, -71.113 42.403, -71...."

In [23]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                                 address                geometry
0             0 Temple St, Cambridge, MA  POINT (-71.105 42.366)
1  Pacific St & Sidney St, Cambridge, MA   POINT (-71.102 42.36)
2   800 Massachusetts Ave, Cambridge, MA  POINT (-71.106 42.367)
3           0 Leighton St, Cambridge, MA   POINT (-71.074 42.37)
4    100 Cambridgeside Pl, Cambridge, MA  POINT (-71.077 42.367)

In [25]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(226, 13)

,address,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
0,"0 Temple St, Cambridge, MA",POINT (-71.105 42.366),2527,25,017,353000,1,1500000US250173530001,250173530001,1,BG,21162,0
1,"Pacific St & Sidney St, Cambridge, MA",POINT (-71.102 42.36),1475,25,017,353101,1,1500000US250173531011,250173531011,1,BG,201209,0
2,"800 Massachusetts Ave, Cambridge, MA",POINT (-71.106 42.367),2527,25,017,353000,1,1500000US250173530001,250173530001,1,BG,21162,0
3,"0 Leighton St, Cambridge, MA",POINT (-71.074 42.37),1579,25,017,352101,2,1500000US250173521012,250173521012,2,BG,225413,17063
4,"100 Cambridgeside Pl, Cambridge, MA",POINT (-71.077 42.367),3876,25,017,352102,1,1500000US250173521021,250173521021,1,BG,296912,139459

In [27]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US250173530003    26
1500000US250173530001    16
1500000US250173531011    13
1500000US250173541004    11
1500000US250173521021    10
1500000US250173530004     8
1500000US250173528002     8
1500000US250173537003     7
1500000US250173524002     6
1500000US250173521022     6
1500000US250173525002     6
1500000US250173546004     6
1500000US250173548001     6
1500000US250173537004     6
1500000US250173534002     5
1500000US250173547001     5
1500000US250173525001     5
1500000US250173522001     5
1500000US250173532001     4
1500000US250173534001     4
1500000US250173523001     4
1500000US250173530002     4
1500000US250173535002     4
1500000US250173540003     4
1500000US250173543001     3
1500000US250173550001     3
1500000US250173531012     2
1500000US250173529002     2
1500000US250173567013     2
1500000US250173541002     2
1500000US250173537005     2
1500000US250173526002     2
1500000US250173538004     2
1500000US250173532003     2
1500000US250173540001     2
1500000US250173542001     2
1500000US250173531022     1
1500000US250173533002     1
1500000US250173546001     1
1500000US250173536005     1
1500000US250173529001     1
1500000US250173549003     1
1500000US250173531021     1
1500000US250173548002     1
1500000US250173539003     1
1500000US250173544002     1
1500000US250173546002     1
1500000US250173521012     1
1500000US250250006022     1
1500000US250173533001     1
1500000US250173521011     1
1500000US250173535001     1
1500000US250173523002     1
1500000US250173526001     1
1500000US250173550002     1
1500000US250173527002     1
1500000US250173549002     1
Name: count, dtype: int64

In [29]:
# export as a csv
crime.to_csv('Cambridge_Violent_Crime_BG.csv')