In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/CrimeWatch_Data_20250422.csv')
print(dfCrime.shape)
dfCrime.head()

(1223833, 9)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
0,DISORDERLY CONDUCT,10/09/2012 12:00:00 AM,12-051575,DISTURB THE PEACE,03X,CHINATOWN,Oakland,CA,NaN
1,OTHER,10/15/2012 11:23:00 AM,12-052080,BATTERY,05X,933 21ST ST,Oakland,CA,POINT (-122.27984 37.81357)
2,MISDEMEANOR ASSAULT,10/13/2012 10:00:00 PM,12-052634,BATTERY,77X,MACARTHUR BLVD,Oakland,CA,NaN
3,OTHER,10/20/2012 05:00:00 PM,12-053356,CHILD STEALING,24Y,2301 VIOLA ST,Oakland,CA,NaN
4,OTHER,08/12/2012 12:00:00 AM,12-053463,STALKING-MISD,31Z,UNKNOWN,Oakland,CA,NaN

In [3]:
dfCrime = dfCrime[(dfCrime['Location'].isna() == False)]
print(dfCrime.shape)
dfCrime.head()

(1181488, 9)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
1,OTHER,10/15/2012 11:23:00 AM,12-052080,BATTERY,05X,933 21ST ST,Oakland,CA,POINT (-122.27984 37.81357)
10,OTHER,12/03/2012 12:00:00 PM,12-061228,BATTERY,17Y,1002 E 23RD ST,Oakland,CA,POINT (-122.24092 37.79803)
41,OTHER,01/03/2013 12:00:00 AM,13-005030,THEFT,08X,2545 BROADWAY,Oakland,CA,POINT (-122.26479 37.81455)
67,OTHER,04/20/2013 01:00:00 PM,13-019926,EXTORTION,24X,3929 LYON AV,Oakland,CA,POINT (-122.20773 37.78323)
68,STOLEN VEHICLE,04/24/2013 03:00:00 PM,13-020756,VEHICLE THEFT - AUTO,19X,2031 15TH ST,Oakland,CA,POINT (-122.23854 37.78628)

In [5]:
dfCrime['DateTime'] = pd.to_datetime(dfCrime['DateTime'])
dfCrime = dfCrime.loc[(dfCrime['DateTime'] >= '2019-01-01') & (dfCrime['DateTime'] < '2020-01-01')]
print(dfCrime.shape)
dfCrime.head()

(62821, 9)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
1523,FRAUD,2019-02-10 00:00:00,19-014565,THEFT,18X,1637 E 20TH ST,Oakland,CA,POINT (-122.23942 37.79204)
1630,PETTY THEFT,2019-06-02 20:23:00,19-027754,THEFT:PERSONAL PROPERTY,03Y,455 7TH ST,Oakland,CA,POINT (-122.27482 37.79975)
1631,VANDALISM,2019-06-01 08:30:00,19-027977,VANDALISM,26Y,964 73RD AV,Oakland,CA,POINT (-122.19296 37.75548)
1632,VANDALISM,2019-06-04 18:00:00,19-028128,BATTERY,23X,3301 E 12TH ST,Oakland,CA,POINT (-122.22459 37.7762)
1633,DOMESTIC VIOLENCE,2019-06-05 14:39:00,19-028298,BATTERY,33X,1140 88TH AV,Oakland,CA,POINT (-122.17972 37.74918)

In [6]:
list(dfCrime['CrimeType'].unique())

['FRAUD',
 'PETTY THEFT',
 'VANDALISM',
 'DOMESTIC VIOLENCE',
 'MISDEMEANOR ASSAULT',
 'OTHER',
 'HOMICIDE',
 'DUI',
 'BURG - OTHER',
 'BURG - AUTO',
 'THREATS',
 'STOLEN VEHICLE',
 'ROBBERY',
 'FORGERY & COUNTERFEITING',
 'BURG - RESIDENTIAL',
 'EMBEZZLEMENT',
 'DISORDERLY CONDUCT',
 'GRAND THEFT',
 'TOWED VEHICLE',
 'OTHER SEX OFFENSES',
 'PROSTITUTION',
 'FELONY ASSAULT',
 'FORCIBLE RAPE',
 'NARCOTICS',
 'RECOVERED O/S STOLEN',
 'WEAPONS',
 'BURG - COMMERCIAL',
 'ARSON',
 'CURFEW & LOITERING',
 'STOLEN AND RECOVERED VEHICLE',
 'MISDEMEANOR WARRANT',
 'RECOVERED VEHICLE - OAKLAND STOLEN',
 'DRUNKENNESS',
 'MISSING',
 'KIDNAPPING',
 'POSSESSION - STOLEN PROPERTY',
 'BRANDISHING',
 nan,
 'INCIDENT TYPE',
 'MISCELLANEOUS TRAFFIC CRIME',
 'CHILD ABUSE',
 'FELONY WARRANT',
 'GAMBLING',
 'RUNAWAY',
 'OUTSIDE AGENCY INCIDENT',
 'VAGRANCY']

In [7]:
violentCrimes = ['HOMICIDE',
 'ROBBERY',
 'FORCIBLE RAPE',
 'FELONY ASSAULT', 'ATTEMPTED RAPE', 'OTHER SEX OFFENSES']
dfCrime = dfCrime[dfCrime['CrimeType'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(6117, 9)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
1642,HOMICIDE,2019-07-02 23:45:00,19-033515,MURDER,33X,1255 87TH AV,Oakland,CA,POINT (-122.1783 37.75073)
1791,ROBBERY,2019-10-02 01:20:00,19-051233,ROBBERY-FIREARM,03X,389 8TH ST,Oakland,CA,POINT (-122.27219 37.79958)
1913,HOMICIDE,2019-11-06 15:20:00,19-058020,SC UNEXPLAINED DEATH,25X,3746 BUELL ST,Oakland,CA,POINT (-122.18719 37.7852)
1917,ROBBERY,2019-11-19 11:11:00,19-060497,BURGLARY-NO FORCE,26Y,6812 EASTLAWN ST,Oakland,CA,POINT (-122.19483 37.75861)
1925,ROBBERY,2019-12-09 19:00:00,19-063981,ROBBERY-FIREARM,22X,2105 MACARTHUR BLVD,Oakland,CA,POINT (-122.217 37.80058)

In [8]:
gdfPoints = gpd.GeoDataFrame(dfCrime, geometry=gpd.GeoSeries.from_wkt(dfCrime['Location']))
gdfPoints

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location,geometry
1642,HOMICIDE,2019-07-02 23:45:00,19-033515,MURDER,33X,1255 87TH AV,Oakland,CA,POINT (-122.1783 37.75073),POINT (-122.18 37.751)
1791,ROBBERY,2019-10-02 01:20:00,19-051233,ROBBERY-FIREARM,03X,389 8TH ST,Oakland,CA,POINT (-122.27219 37.79958),POINT (-122.27 37.8)
1913,HOMICIDE,2019-11-06 15:20:00,19-058020,SC UNEXPLAINED DEATH,25X,3746 BUELL ST,Oakland,CA,POINT (-122.18719 37.7852),POINT (-122.19 37.785)
1917,ROBBERY,2019-11-19 11:11:00,19-060497,BURGLARY-NO FORCE,26Y,6812 EASTLAWN ST,Oakland,CA,POINT (-122.19483 37.75861),POINT (-122.19 37.759)
1925,ROBBERY,2019-12-09 19:00:00,19-063981,ROBBERY-FIREARM,22X,2105 MACARTHUR BLVD,Oakland,CA,POINT (-122.217 37.80058),POINT (-122.22 37.801)
...,...,...,...,...,...,...,...,...,...,...
1105953,OTHER SEX OFFENSES,2019-10-28 00:00:00,22-001607,SEXUAL BATTERY,03Y,455 7TH ST,Oakland,CA,POINT (-122.27482 37.79975),POINT (-122.27 37.8)
1117395,OTHER SEX OFFENSES,2019-08-01 00:00:00,22-014350,SEXUAL BATTERY,02Y,937 WOOD ST,Oakland,CA,POINT (-122.30032 37.81013),POINT (-122.3 37.81)
1129445,OTHER SEX OFFENSES,2019-05-01 22:00:00,22-012604,RAPE SPOUSE BY FORCE/FEAR/ETC,20X,3015 E 19TH ST,Oakland,CA,POINT (-122.2241 37.78311),POINT (-122.22 37.783)
1142898,OTHER SEX OFFENSES,2019-05-01 22:00:00,22-012604,SODOMY:VICTIM BELIEVES PERSON IS SPOUSE,20X,3015 E 19TH ST,Oakland,CA,POINT (-122.2241 37.78311),POINT (-122.22 37.783)
1220929,FORCIBLE RAPE,2019-08-19 23:30:00,12-042296,SC RAPE,12Y,5227 CLAREMONT AV,Oakland,CA,POINT (-122.26177 37.83844),POINT (-122.26 37.838)

In [9]:
dfCrime = gdfPoints[['CrimeType', 'geometry']]
dfCrime.head()

     CrimeType                geometry
1642  HOMICIDE  POINT (-122.18 37.751)
1791   ROBBERY    POINT (-122.27 37.8)
1913  HOMICIDE  POINT (-122.19 37.785)
1917   ROBBERY  POINT (-122.19 37.759)
1925   ROBBERY  POINT (-122.22 37.801)

In [10]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_06_bg_500k/cb_2018_06_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(23196, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,06,075,980401,1,1500000US060759804011,060759804011,1,BG,419323,247501289,"POLYGON ((-123.01 37.7, -123.01 37.699, -123.0..."
1,06,059,062702,1,1500000US060590627021,060590627021,1,BG,513205,635569,"POLYGON ((-117.88 33.593, -117.88 33.595, -117..."
2,06,037,576602,1,1500000US060375766021,060375766021,1,BG,246841,1907927,"MULTIPOLYGON (((-118.18 33.765, -118.17 33.765..."
3,06,075,061500,6,1500000US060750615006,060750615006,6,BG,313325,229501,"POLYGON ((-122.39 37.783, -122.39 37.787, -122..."
4,06,049,000300,2,1500000US060490003002,060490003002,2,BG,1781768492,310119189,"POLYGON ((-120.82 41.994, -120.79 41.994, -120..."

In [13]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

     CrimeType                geometry
1642  HOMICIDE  POINT (-122.18 37.751)
1791   ROBBERY    POINT (-122.27 37.8)
1913  HOMICIDE  POINT (-122.19 37.785)
1917   ROBBERY  POINT (-122.19 37.759)
1925   ROBBERY  POINT (-122.22 37.801)

In [14]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(6117, 13)

,CrimeType,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
1642,HOMICIDE,POINT (-122.18 37.751),7538,06,001,409500,3,1500000US060014095003,060014095003,3,BG,138550,0
1791,ROBBERY,POINT (-122.27 37.8),9581,06,001,403000,1,1500000US060014030001,060014030001,1,BG,146630,0
1913,HOMICIDE,POINT (-122.19 37.785),6315,06,001,407900,2,1500000US060014079002,060014079002,2,BG,243287,0
1917,ROBBERY,POINT (-122.19 37.759),8069,06,001,408800,3,1500000US060014088003,060014088003,3,BG,241554,0
1925,ROBBERY,POINT (-122.22 37.801),13494,06,001,404800,2,1500000US060014048002,060014048002,2,BG,378242,0

In [15]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US060014060001    142
1500000US060014061001    138
1500000US060014031001    102
1500000US060014090001     87
1500000US060014086001     85
                        ...
1500000US060133530012      1
1500000US060014044001      1
1500000US060190059121      1
1500000US060133522021      1
1500000US060014047001      1
Name: count, Length: 340, dtype: int64

In [16]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Oakland_Violent_Crime_BG.csv')