In [99]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [101]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/CrimeWatch_Data_20250422.csv')
print(dfCrime.shape)
dfCrime.head()

(1223833, 9)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
0,DISORDERLY CONDUCT,10/09/2012 12:00:00 AM,12-051575,DISTURB THE PEACE,03X,CHINATOWN,Oakland,CA,NaN
1,OTHER,10/15/2012 11:23:00 AM,12-052080,BATTERY,05X,933 21ST ST,Oakland,CA,POINT (-122.27984 37.81357)
2,MISDEMEANOR ASSAULT,10/13/2012 10:00:00 PM,12-052634,BATTERY,77X,MACARTHUR BLVD,Oakland,CA,NaN
3,OTHER,10/20/2012 05:00:00 PM,12-053356,CHILD STEALING,24Y,2301 VIOLA ST,Oakland,CA,NaN
4,OTHER,08/12/2012 12:00:00 AM,12-053463,STALKING-MISD,31Z,UNKNOWN,Oakland,CA,NaN

In [102]:
dfCrime = dfCrime[(dfCrime['Location'].isna() == False)]
print(dfCrime.shape)
dfCrime.head()

(1181488, 9)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
1,OTHER,10/15/2012 11:23:00 AM,12-052080,BATTERY,05X,933 21ST ST,Oakland,CA,POINT (-122.27984 37.81357)
10,OTHER,12/03/2012 12:00:00 PM,12-061228,BATTERY,17Y,1002 E 23RD ST,Oakland,CA,POINT (-122.24092 37.79803)
41,OTHER,01/03/2013 12:00:00 AM,13-005030,THEFT,08X,2545 BROADWAY,Oakland,CA,POINT (-122.26479 37.81455)
67,OTHER,04/20/2013 01:00:00 PM,13-019926,EXTORTION,24X,3929 LYON AV,Oakland,CA,POINT (-122.20773 37.78323)
68,STOLEN VEHICLE,04/24/2013 03:00:00 PM,13-020756,VEHICLE THEFT - AUTO,19X,2031 15TH ST,Oakland,CA,POINT (-122.23854 37.78628)

In [103]:
dfCrime['DateTime'] = pd.to_datetime(dfCrime['DateTime'])
dfCrime = dfCrime.loc[(dfCrime['DateTime'] >= '2018-01-01') & (dfCrime['DateTime'] < '2019-01-01')]
print(dfCrime.shape)
dfCrime.head()

(55265, 9)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
1240,HOMICIDE,2018-01-01 17:22:00,18-000116,MURDER,07X,3442 ADELINE ST,Oakland,CA,POINT (-122.27977 37.82623)
1245,DUI,2018-01-30 10:53:00,18-005309,DUI ALCOHOL/DRUGS,28X,2900 MORCOM AV,Oakland,CA,POINT (-122.19203 37.77793)
1246,PETTY THEFT,2018-02-02 09:30:00,18-006036,THEFT,32X,1638 TUCKER ST,Oakland,CA,POINT (-122.16306 37.7391)
1247,BURG - AUTO,2018-02-03 08:00:00,18-006106,BURGLARY-AUTO,02Y,945 WOOD ST,Oakland,CA,POINT (-122.30026 37.81021)
1248,BURG - AUTO,2018-02-03 12:45:00,18-006131,BURGLARY-AUTO,03X,BROADWAY & 10TH ST,Oakland,CA,POINT (-122.27291 37.80155)

In [104]:
list(dfCrime['CrimeType'].unique())

['HOMICIDE',
 'DUI',
 'PETTY THEFT',
 'BURG - AUTO',
 'MISDEMEANOR ASSAULT',
 'OTHER',
 'ARSON',
 'VANDALISM',
 'ROBBERY',
 'FRAUD',
 'BURG - RESIDENTIAL',
 'FORCIBLE RAPE',
 'STOLEN VEHICLE',
 nan,
 'DISORDERLY CONDUCT',
 'THREATS',
 'BURG - COMMERCIAL',
 'GRAND THEFT',
 'FORGERY & COUNTERFEITING',
 'DOMESTIC VIOLENCE',
 'RECOVERED O/S STOLEN',
 'NARCOTICS',
 'EMBEZZLEMENT',
 'FELONY ASSAULT',
 'POSSESSION - STOLEN PROPERTY',
 'BURG - OTHER',
 'WEAPONS',
 'CHILD ABUSE',
 'CURFEW & LOITERING',
 'OTHER SEX OFFENSES',
 'PROSTITUTION',
 'TOWED VEHICLE',
 'KIDNAPPING',
 'STOLEN AND RECOVERED VEHICLE',
 'DRUNKENNESS',
 'MISCELLANEOUS TRAFFIC CRIME',
 'RUNAWAY',
 'RECOVERED VEHICLE - OAKLAND STOLEN',
 'MISSING',
 'FELONY WARRANT',
 'BRANDISHING',
 'OAKLAND MUNI CODE',
 'INCIDENT TYPE',
 'ATTEMPTED RAPE',
 'MISDEMEANOR WARRANT',
 'GAMBLING',
 'ENVIRONMENTAL CRIME']

In [106]:
violentCrimes = ['HOMICIDE',
 'ROBBERY',
 'FORCIBLE RAPE',
 'FELONY ASSAULT', 'ATTEMPTED RAPE', 'OTHER SEX OFFENSES']
dfCrime = dfCrime[dfCrime['CrimeType'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(5937, 9)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location
1240,HOMICIDE,2018-01-01 17:22:00,18-000116,MURDER,07X,3442 ADELINE ST,Oakland,CA,POINT (-122.27977 37.82623)
1298,ROBBERY,2018-05-13 13:00:00,18-025040,ROBBERY-FIREARM,34X,9000 OLIVE ST,Oakland,CA,POINT (-122.16778 37.75249)
1316,FORCIBLE RAPE,2018-07-13 02:00:00,18-035281,SC RAPE,31Z,363 105TH AV,Oakland,CA,POINT (-122.18122 37.72806)
1352,ROBBERY,2018-10-06 15:53:00,18-050809,ROBBERY-FIREARM,17X,1926 6TH AV,Oakland,CA,POINT (-122.24792 37.79865)
327996,ROBBERY,2018-07-08 06:30:00,16-057629,ROBBERY/INHABITED DWELLING - FIREARM,18X,1738 18TH AVE,Oakland,CA,POINT (-122.23915 37.79012)

In [111]:
gdfPoints = gpd.GeoDataFrame(dfCrime, geometry=gpd.GeoSeries.from_wkt(dfCrime['Location']))
gdfPoints

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Location,geometry
1240,HOMICIDE,2018-01-01 17:22:00,18-000116,MURDER,07X,3442 ADELINE ST,Oakland,CA,POINT (-122.27977 37.82623),POINT (-122.28 37.826)
1298,ROBBERY,2018-05-13 13:00:00,18-025040,ROBBERY-FIREARM,34X,9000 OLIVE ST,Oakland,CA,POINT (-122.16778 37.75249),POINT (-122.17 37.752)
1316,FORCIBLE RAPE,2018-07-13 02:00:00,18-035281,SC RAPE,31Z,363 105TH AV,Oakland,CA,POINT (-122.18122 37.72806),POINT (-122.18 37.728)
1352,ROBBERY,2018-10-06 15:53:00,18-050809,ROBBERY-FIREARM,17X,1926 6TH AV,Oakland,CA,POINT (-122.24792 37.79865),POINT (-122.25 37.799)
327996,ROBBERY,2018-07-08 06:30:00,16-057629,ROBBERY/INHABITED DWELLING - FIREARM,18X,1738 18TH AVE,Oakland,CA,POINT (-122.23915 37.79012),POINT (-122.24 37.79)
...,...,...,...,...,...,...,...,...,...,...
1133483,FORCIBLE RAPE,2018-07-04 18:00:00,22-012445,KIDNAPPING,02X,826 MANDELA PKWY,Oakland,CA,POINT (-122.29335 37.80566),POINT (-122.29 37.806)
1136413,ROBBERY,2018-04-07 18:00:00,22-019473,ATTEMPTED ROBBERY-STRONG-ARM,34X,8200 INTERNATIONAL BLVD,Oakland,CA,POINT (-122.1788 37.7553),POINT (-122.18 37.755)
1137956,ROBBERY,2018-04-07 18:00:00,22-019473,BATTERY W/SERIOUS BODILY INJURY,34X,8200 INTERNATIONAL BLVD,Oakland,CA,POINT (-122.1788 37.7553),POINT (-122.18 37.755)
1138735,FORCIBLE RAPE,2018-07-04 18:00:00,22-012445,RAPE BY FORCE/FEAR/ETC,02X,826 MANDELA PKWY,Oakland,CA,POINT (-122.29335 37.80566),POINT (-122.29 37.806)
1188447,OTHER SEX OFFENSES,2018-01-01 00:00:00,22-038826,UNLAWFUL SEXUAL INTERCOURSE W/MINOR 18,03X,4601 SHANNONDALE DR.,Oakland,CA,POINT (-121.76802 37.96759),POINT (-121.77 37.968)

In [115]:
dfCrime = gdfPoints[['CrimeType', 'geometry']]
dfCrime.head()

            CrimeType                geometry
1240         HOMICIDE  POINT (-122.28 37.826)
1298          ROBBERY  POINT (-122.17 37.752)
1316    FORCIBLE RAPE  POINT (-122.18 37.728)
1352          ROBBERY  POINT (-122.25 37.799)
327996        ROBBERY   POINT (-122.24 37.79)

In [117]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Downloads/Rent-Walk-Local/cb_2018_06_bg_500k/cb_2018_06_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(23196, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,06,075,980401,1,1500000US060759804011,060759804011,1,BG,419323,247501289,"POLYGON ((-123.01 37.7, -123.01 37.699, -123.0..."
1,06,059,062702,1,1500000US060590627021,060590627021,1,BG,513205,635569,"POLYGON ((-117.88 33.593, -117.88 33.595, -117..."
2,06,037,576602,1,1500000US060375766021,060375766021,1,BG,246841,1907927,"MULTIPOLYGON (((-118.18 33.765, -118.17 33.765..."
3,06,075,061500,6,1500000US060750615006,060750615006,6,BG,313325,229501,"POLYGON ((-122.39 37.783, -122.39 37.787, -122..."
4,06,049,000300,2,1500000US060490003002,060490003002,2,BG,1781768492,310119189,"POLYGON ((-120.82 41.994, -120.79 41.994, -120..."

In [119]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

            CrimeType                geometry
1240         HOMICIDE  POINT (-122.28 37.826)
1298          ROBBERY  POINT (-122.17 37.752)
1316    FORCIBLE RAPE  POINT (-122.18 37.728)
1352          ROBBERY  POINT (-122.25 37.799)
327996        ROBBERY   POINT (-122.24 37.79)

In [121]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(5937, 13)

,CrimeType,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
1240,HOMICIDE,POINT (-122.28 37.826),9984,06,001,401500,1,1500000US060014015001,060014015001,1,BG,163508,0
1298,ROBBERY,POINT (-122.17 37.752),2403,06,001,409700,2,1500000US060014097002,060014097002,2,BG,213599,0
1316,FORCIBLE RAPE,POINT (-122.18 37.728),6876,06,001,409200,2,1500000US060014092002,060014092002,2,BG,269629,0
1352,ROBBERY,POINT (-122.25 37.799),3861,06,001,405401,1,1500000US060014054011,060014054011,1,BG,120531,0
327996,ROBBERY,POINT (-122.24 37.79),3902,06,001,405902,2,1500000US060014059022,060014059022,2,BG,287392,0

In [123]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US060014061001    121
1500000US060014031001    116
1500000US060014028002     96
1500000US060014060001     89
1500000US060014030001     87
                        ...
1500000US060014069001      1
1500000US060014501023      1
1500000US060014078001      1
1500000US060014067004      1
1500000US060133551101      1
Name: count, Length: 333, dtype: int64

In [125]:
# export as a csv
crime.to_csv('Oakland_Violent_Crime_BG.csv')