In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [3]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/Crime_Incidents_in_2018.csv')
print(dfCrime.shape)
dfCrime.head()

(33846, 25)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,397497.0,138634.0,18204608,2018/12/03 11:55:32+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1200 - 1299 BLOCK OF T STREET NW,397497.0,138634.0,...,004402 1,4402,Precinct 22,38.915569,-77.028861,NaN,2018/12/02 19:00:53+00,2018/12/02 19:10:47+00,697281379,NaN
1,393794.0,139161.0,18204783,2018/12/03 00:42:30+00,EVENING,OTHERS,THEFT/OTHER,2241 - 2318 BLOCK OF WISCONSIN AVENUE NW,393794.0,139161.0,...,000400 2,400,Precinct 12,38.920298,-77.071564,NaN,2018/12/02 23:40:42+00,2018/12/03 00:42:37+00,697281380,NaN
2,394247.0,143807.0,18205245,2018/12/03 21:19:40+00,EVENING,OTHERS,THEFT F/AUTO,5400 - 5499 BLOCK OF 33RD STREET NW,394247.0,143807.0,...,001401 1,1401,Precinct 51,38.962154,-77.066380,NaN,2018/12/03 18:00:47+00,2018/12/03 18:15:56+00,697281381,NaN
3,401980.0,136515.0,18205289,2018/12/03 23:05:15+00,EVENING,KNIFE,ASSAULT W/DANGEROUS WEAPON,500 - 599 BLOCK OF 19TH STREET NE,401980.0,136515.0,...,007901 1,7901,Precinct 81,38.896482,-76.977175,NaN,2018/12/03 21:30:29+00,2018/12/03 23:05:24+00,697281382,NaN
4,397330.0,139246.0,18073352,2018/05/08 00:01:42+00,EVENING,OTHERS,THEFT/OTHER,1300 - 1399 BLOCK OF BELMONT STREET NW,397330.0,139246.0,...,003600 1,3600,Precinct 23,38.921082,-77.030789,NaN,2018/05/07 23:30:21+00,2018/05/07 23:31:18+00,697281383,NaN

In [5]:
list(dfCrime.columns)

['X',
 'Y',
 'CCN',
 'REPORT_DAT',
 'SHIFT',
 'METHOD',
 'OFFENSE',
 'BLOCK',
 'XBLOCK',
 'YBLOCK',
 'WARD',
 'ANC',
 'DISTRICT',
 'PSA',
 'NEIGHBORHOOD_CLUSTER',
 'BLOCK_GROUP',
 'CENSUS_TRACT',
 'VOTING_PRECINCT',
 'LATITUDE',
 'LONGITUDE',
 'BID',
 'START_DATE',
 'END_DATE',
 'OBJECTID',
 'OCTO_RECORD_ID']

In [9]:
list(dfCrime['OFFENSE'].unique())

['THEFT F/AUTO',
 'THEFT/OTHER',
 'ASSAULT W/DANGEROUS WEAPON',
 'BURGLARY',
 'MOTOR VEHICLE THEFT',
 'SEX ABUSE',
 'ROBBERY',
 'HOMICIDE',
 'ARSON']

In [11]:
violentCrimes = ['ASSAULT W/DANGEROUS WEAPON', 'SEX ABUSE', 'ROBBERY', 'HOMICIDE']
dfCrime = dfCrime[dfCrime['OFFENSE'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(4140, 25)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
3,401980.0,136515.0,18205289,2018/12/03 23:05:15+00,EVENING,KNIFE,ASSAULT W/DANGEROUS WEAPON,500 - 599 BLOCK OF 19TH STREET NE,401980.0,136515.0,...,007901 1,7901,Precinct 81,38.896482,-76.977175,NaN,2018/12/03 21:30:29+00,2018/12/03 23:05:24+00,697281382,NaN
11,400660.0,129046.0,18017522,2018/02/01 01:21:37+00,EVENING,GUN,ASSAULT W/DANGEROUS WEAPON,800 - 899 BLOCK OF CHESAPEAKE STREET SE,400660.0,129046.0,...,009700 1,9700,Precinct 125,38.829200,-76.992399,NaN,2018/01/27 06:00:54+00,2018/01/27 07:30:33+00,697281883,NaN
16,406076.0,135034.0,18019817,2018/02/05 05:23:24+00,MIDNIGHT,KNIFE,ASSAULT W/DANGEROUS WEAPON,5000 - 5099 BLOCK OF QUEENS STROLL PLACE SE,406076.0,135034.0,...,009904 3,9904,Precinct 104,38.883122,-76.929971,NaN,2018/02/05 02:00:39+00,2018/02/05 04:50:09+00,697281888,NaN
20,398476.0,134716.0,18022175,2018/02/09 05:04:24+00,MIDNIGHT,OTHERS,ASSAULT W/DANGEROUS WEAPON,700 - 900 BLOCK OF 4TH STREET SW,398476.0,134716.0,...,010500 2,10500,Precinct 128,38.880277,-77.017564,SOUTHWEST,2018/02/09 02:47:29+00,2018/02/09 05:01:04+00,697281892,NaN
21,401489.0,137806.0,18022410,2018/02/09 19:06:18+00,DAY,OTHERS,ASSAULT W/DANGEROUS WEAPON,1700 - 1725 BLOCK OF TRINIDAD AVENUE NE,401489.0,137806.0,...,008804 2,8804,Precinct 78,38.908113,-76.982833,NaN,2018/02/09 18:00:13+00,2018/02/09 18:05:09+00,697281893,NaN

In [13]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)
dfCrime = dfCrime[['OFFENSE', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(4140, 2)

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_16858/2365880705.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)

                       OFFENSE                                  geometry
3   ASSAULT W/DANGEROUS WEAPON  POINT (-76.97717530369999 38.8964817934)
11  ASSAULT W/DANGEROUS WEAPON      POINT (-76.9923989368 38.8291999166)
16  ASSAULT W/DANGEROUS WEAPON      POINT (-76.9299712628 38.8831216262)
20  ASSAULT W/DANGEROUS WEAPON      POINT (-77.0175641097 38.8802766323)
21  ASSAULT W/DANGEROUS WEAPON      POINT (-76.9828325684 38.9081125479)

In [17]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Downloads/Rent-Walk-Local/cb_2018_11_bg_500k/cb_2018_11_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(450, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,11,001,001500,3,1500000US110010015003,110010015003,3,BG,284806,200,"POLYGON ((-77.064 38.973, -77.053 38.973, -77...."
1,11,001,001402,1,1500000US110010014021,110010014021,1,BG,337376,0,"POLYGON ((-77.062 38.966, -77.059 38.966, -77...."
2,11,001,003301,1,1500000US110010033011,110010033011,1,BG,255035,0,"POLYGON ((-77.012 38.921, -77.012 38.926, -77...."
3,11,001,004100,2,1500000US110010041002,110010041002,2,BG,289805,6192,"POLYGON ((-77.055 38.919, -77.055 38.92, -77.0..."
4,11,001,001702,1,1500000US110010017021,110010017021,1,BG,419232,0,"POLYGON ((-77.023 38.974, -77.023 38.974, -77...."

In [19]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                       OFFENSE                geometry
3   ASSAULT W/DANGEROUS WEAPON  POINT (-76.977 38.896)
11  ASSAULT W/DANGEROUS WEAPON  POINT (-76.992 38.829)
16  ASSAULT W/DANGEROUS WEAPON   POINT (-76.93 38.883)
20  ASSAULT W/DANGEROUS WEAPON   POINT (-77.018 38.88)
21  ASSAULT W/DANGEROUS WEAPON  POINT (-76.983 38.908)

In [21]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(4140, 13)

,OFFENSE,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
3,ASSAULT W/DANGEROUS WEAPON,POINT (-76.977 38.896),170.0,11,001,007901,1,1500000US110010079011,110010079011,1,BG,90952.0,0.0
11,ASSAULT W/DANGEROUS WEAPON,POINT (-76.992 38.829),195.0,11,001,009700,2,1500000US110010097002,110010097002,2,BG,89205.0,0.0
16,ASSAULT W/DANGEROUS WEAPON,POINT (-76.93 38.883),256.0,11,001,009904,2,1500000US110010099042,110010099042,2,BG,212652.0,0.0
20,ASSAULT W/DANGEROUS WEAPON,POINT (-77.018 38.88),131.0,11,001,010200,1,1500000US110010102001,110010102001,1,BG,345020.0,0.0
21,ASSAULT W/DANGEROUS WEAPON,POINT (-76.983 38.908),307.0,11,001,008804,2,1500000US110010088042,110010088042,2,BG,680345.0,0.0

In [23]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US110010106002    55
1500000US110010044002    53
1500000US110010104001    47
1500000US110010073041    47
1500000US110010096011    45
                         ..
1500000US110010039001     1
1500000US110010056002     1
1500000US110010027023     1
1500000US110010010013     1
1500000US110010012002     1
Name: count, Length: 402, dtype: int64

In [25]:
# export as a csv
crime.to_csv('DC_Violent_Crime_BG.csv')