In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
from shapely.wkt import loads

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/Calls_for_Service_2018_20250419.csv')
print(dfCrime.shape)
dfCrime.head()

(460874, 21)

,NOPD_Item,Type_,TypeText,Priority,InitialType,InitialTypeText,InitialPriority,MapX,MapY,TimeCreate,...,TimeArrive,TimeClosed,Disposition,DispositionText,SelfInitiated,Beat,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
0,A1964518,67C,THEFT FROM EXTERIOR,1A,62C,SIMPLE BURGLARY VEHICLE,1G,0,0,01/17/2018 04:10:29 PM,...,01/18/2018 02:34:08 AM,01/18/2018 03:14:11 AM,GOA,GONE ON ARRIVAL,N,7L03,147XX Chef Menteur Hwy,NaN,0,NaN
1,A1213518,21,COMPLAINT OTHER,1J,21,COMPLAINT OTHER,1J,0,0,01/11/2018 12:35:07 AM,...,01/11/2018 12:35:07 AM,01/11/2018 01:59:10 AM,NAT,Necessary Action Taken,Y,8D01,Bourbon St & Iberville St,NaN,0,NaN
2,A0838218,37,AGGRAVATED ASSAULT,1C,103,DISTURBANCE (OTHER),2A,0,0,01/08/2018 01:24:10 AM,...,01/08/2018 01:28:28 AM,01/08/2018 04:00:50 AM,RTF,REPORT TO FOLLOW,N,8D06,007XX Bourbon St,NaN,0,NaN
3,B0948918,21P,LOST PROPERTY,0G,21P,LOST PROPERTY,0G,37369000,3513814,02/09/2018 01:18:23 AM,...,02/09/2018 05:20:41 AM,02/09/2018 06:08:12 AM,RTF,REPORT TO FOLLOW,N,8D05,004XX Bourbon St,70130.0,0,"(0.0, 0.0)"
4,A0609918,24,MEDICAL,2B,29,DEATH,1B,37369000,3513814,01/06/2018 01:15:19 AM,...,01/06/2018 01:22:42 AM,01/06/2018 01:39:05 AM,NAT,Necessary Action Taken,N,2L04,016XX Pine St,70118.0,2,"(0.0, 0.0)"

In [5]:
sorted(list(dfCrime['TypeText'].unique()))

['ABANDONED BOAT',
 'ABANDONED VEHICLE',
 'AGGRAVATED ARSON',
 'AGGRAVATED ASSAULT',
 'AGGRAVATED ASSAULT DOMESTIC',
 'AGGRAVATED BATTERY',
 'AGGRAVATED BATTERY BY CUTTING',
 'AGGRAVATED BATTERY BY KNIFE',
 'AGGRAVATED BATTERY BY SHOOTING',
 'AGGRAVATED BATTERY DOMESTIC',
 'AGGRAVATED BURGLARY',
 'AGGRAVATED BURGLARY DOMESTIC',
 'AGGRAVATED CRIMINAL DAMAGE',
 'AGGRAVATED ESCAPE',
 'AGGRAVATED KIDNAPPING',
 'AGGRAVATED RAPE',
 'AGGRAVATED RAPE MALE VICTIM',
 'AGGRAVATED RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE',
 'AIRPLANE CRASH',
 'AREA CHECK',
 'ARMED ROBBERY',
 'ARMED ROBBERY WITH GUN',
 'ARMED ROBBERY WITH KNIFE',
 'ASSET SEIZURE',
 'ATTACHMENT',
 'AUTO ACCIDENT',
 'AUTO ACCIDENT CITY VEHICLE',
 'AUTO ACCIDENT FATALITY',
 'AUTO ACCIDENT POLICE VEHICLE',
 'AUTO ACCIDENT WITH INJURY',
 'AUTO THEFT',
 'BICYCLE THEFT',
 'BLIGHTED PROPERTY',
 'BOMB SCARE',
 'BURGLAR ALARM, LOCAL',
 'BURGLAR ALARM, SILENT',
 'BURGLAR ALARM, SILENT, FAR NO RESPONSE',
 'BUSINESS BURGLARY',
 'BUSINESS CHECK',
 'CAD TEST',
 'CARJACKING',
 'CARJACKING- NO WEAPON',
 'COMPLAINT OTHER',
 'CONTRIBUTING TO DELINQUENCY',
 'CRIMINAL DAMAGE DOMESTIC',
 'CRIMINAL MISCHIEF',
 'CRIMINAL MISCHIEF DOMESTIC',
 'CRUELTY TO ANIMALS',
 'CURFEW VIOLATION',
 'DEATH',
 'DESECRATION OF GRAVES',
 'DIRECTED PATROL',
 'DIRECTED TRAFFIC ENFORCEMENT',
 'DISCHARGING FIREARM',
 'DISPERSE SUBJECTS',
 'DISTURBANCE (OTHER)',
 'DOMESTIC DISTURBANCE',
 'DRIVING WHILE UNDER INFLUENCE',
 'DRUG VIOLATIONS',
 'DRUNK',
 'ELECTRONIC MONITORING',
 'EXPLOSION',
 'EXTORTION (THREATS)',
 'EXTORTION (THREATS) DOMESTIC',
 'FIGHT',
 'FIRE',
 'FIREWORKS',
 'FLOOD EVENT',
 'FLOODED VEHICLE',
 'FORGERY',
 'FUGITIVE ATTACHMENT',
 'GAMBLING',
 'HIT & RUN',
 'HIT & RUN CITY VEHICLE',
 'HIT & RUN FATALITY',
 'HIT & RUN POLICE VEHICLE',
 'HIT & RUN WITH INJURIES',
 'HOLD UP ALARM',
 'HOMELESS',
 'HOMICIDE',
 'HOMICIDE BY CUTTING',
 'HOMICIDE BY SHOOTING',
 'HOMICIDE DOMESTIC',
 'HOSTAGE SITUATION',
 'ILLEGAL CARRYING OF WEAPON',
 'ILLEGAL CARRYING OF WEAPON- GUN',
 'ILLEGAL CARRYING OF WEAPON- KNIFE',
 'IMPERSONATING AN OFFICER',
 'INCIDENT REQUESTED BY ANOTHER AGENCY',
 'INDECENT BEHAVIOR',
 'ISSUING WORTHLESS CHECKS',
 'JUVENILE ATTACHMENT',
 'LOST PROPERTY',
 'MEDICAL',
 'MEDICAL - NALOXONE',
 'MEDICAL SEXUAL ASSAULT KIT PROCESSING',
 'MEET AN OFFICER',
 'MENTAL PATIENT',
 'MISDEMEANOR SEXUAL BATTERY',
 'MISSING ADULT',
 'MISSING JUVENILE',
 'MUNICIPAL ATTACHMENT',
 'NEGLIENT INJURY',
 'NOISE COMPLAINT',
 'OBSCENITY, EXPOSING',
 'OFFICER NEEDS ASSISTANCE',
 'OFFICER NEEDS ASSISTANCE, LIFE IN DANGER',
 'ORAL SEXUAL BATTERY',
 'PANDERING',
 'PARADE ITEM NUMBER',
 'PEEPING TOM',
 'PICKPOCKET',
 'POSSESSION OF STOLEN PROPERTY',
 'PROSTITUTION',
 'PROTEST',
 'PROWLER',
 'QUALITY OF LIFE ISSUE',
 'RECKLESS DRIVING',
 'RECOVERY OF REPORTED STOLEN VEHICLE',
 'RECOVERY OF VEHICLE',
 'RESIDENCE BURGLARY',
 'RESIDENCE CHECK',
 'RETURN FOR ADDITIONAL INFO',
 'SAFE BURGLARY',
 'SEX OFFENDER REGISTRATION CHECK',
 'SEXTING',
 'SEXUAL BATTERY',
 'SHOPLIFTING',
 'SILENT 911 CALL',
 'SIMPLE ARSON',
 'SIMPLE ARSON DOMESTIC',
 'SIMPLE ASSAULT',
 'SIMPLE ASSAULT DOMESTIC',
 'SIMPLE BATTERY',
 'SIMPLE BATTERY DOMESTIC',
 'SIMPLE BURGLARY',
 'SIMPLE BURGLARY DOMESTIC',
 'SIMPLE BURGLARY VEHICLE',
 'SIMPLE CRIMINAL DAMAGE',
 'SIMPLE ESCAPE',
 'SIMPLE KIDNAPPING',
 'SIMPLE RAPE',
 'SIMPLE RAPE MALE VICTIM',
 'SIMPLE RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE',
 'SIMPLE ROBBERY',
 'SIMPLE ROBBERY, PROPERTY SNATCHING',
 'SIMULTANEOS STOLEN/RECOVERY VEHICLE',
 'SOLICITING FOR PROSTITUTION',
 'SUICIDE',
 'SUICIDE ATTEMPT',
 'SUICIDE THREAT',
 'SUSPICIOUS PACKAGE',
 'SUSPICIOUS PERSON',
 'TAKING TEMPORARY POSSESSION',
 'THEFT',
 'THEFT BY EMBEZZLEMENT',
 'THEFT BY FRAUD',
 'THEFT FROM EXTERIOR',
 'THEFT FROM EXTERIOR OF VEHICLE',
 'TOW IMPOUNDED VEHICLE (PRIVATE)',
 'TRAFFIC ATTACHMENT',
 'TRAFFIC CONGESTION',
 'TRAFFIC INCIDENT',
 'TROOP N AREA - BUSINESS - RESIDENCE CHECK',
 'TRUANT VIOLATION',
 'UNATTENDED PACKAGE',
 'UNAUTHORIZED USE OF VEHICLE',
 'UNCLASSIFIED DEATH',
 'UNDERAGE DRINKING VIOLATION',
 'UNDERPASS MONITORING OR CLOSURE',
 'VEHICLE PURSUIT',
 'VIDEO VOYEURISM',
 'VIOLATION OF PROTECTION ORDER',
 'WALKING BEAT',
 'WARR STOP WITH RELEASE']

In [7]:
violentCrimes = ['AGGRAVATED ASSAULT', 'AGGRAVATED ASSAULT DOMESTIC', 'AGGRAVATED RAPE', 'AGGRAVATED RAPE MALE VICTIM', 
                 'AGGRAVATED RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE', 'ARMED ROBBERY', 'ARMED ROBBERY WITH GUN', 
                 'ARMED ROBBERY WITH KNIFE', 'HOMICIDE', 'HOMICIDE BY CUTTING', 'HOMICIDE BY SHOOTING', 'HOMICIDE DOMESTIC',
                'SIMPLE RAPE', 'SIMPLE RAPE MALE VICTIM', 'SIMPLE RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE']
dfCrime = dfCrime[dfCrime['TypeText'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(2540, 21)

,NOPD_Item,Type_,TypeText,Priority,InitialType,InitialTypeText,InitialPriority,MapX,MapY,TimeCreate,...,TimeArrive,TimeClosed,Disposition,DispositionText,SelfInitiated,Beat,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
2,A0838218,37,AGGRAVATED ASSAULT,1C,103,DISTURBANCE (OTHER),2A,0,0,01/08/2018 01:24:10 AM,...,01/08/2018 01:28:28 AM,01/08/2018 04:00:50 AM,RTF,REPORT TO FOLLOW,N,8D06,007XX Bourbon St,NaN,0,NaN
70,B1357518,37,AGGRAVATED ASSAULT,1E,37,AGGRAVATED ASSAULT,1E,3694198,559742,02/11/2018 11:54:41 PM,...,02/12/2018 12:58:05 AM,02/12/2018 06:24:47 AM,RTF,REPORT TO FOLLOW,N,7A05,Downman Rd & Hayne Blvd,70126.0,3,"(30.03270567, -90.0269583)"
126,A1607318,37,AGGRAVATED ASSAULT,1A,37,AGGRAVATED ASSAULT,1E,3670226,535972,01/14/2018 08:49:04 AM,...,01/14/2018 08:55:40 AM,01/14/2018 09:17:46 AM,UNF,UNFOUNDED,N,1L04,039XX Tulane Ave,70119.0,1,"(29.96807474, -90.10351781)"
219,A0299918,64G,ARMED ROBBERY WITH GUN,2A,64G,ARMED ROBBERY WITH GUN,2A,3678042,526246,01/03/2018 12:15:50 PM,...,01/03/2018 12:24:33 PM,01/03/2018 12:57:43 PM,GOA,GONE ON ARRIVAL,N,6G02,Oretha Castle Haley Blvd & Martin Luther King ...,70113.0,6,"(29.94109943, -90.07916897)"
646,A0353318,43,SIMPLE RAPE,2D,43,SIMPLE RAPE,2D,37369000,3513814,01/03/2018 08:36:58 PM,...,01/03/2018 08:36:58 PM,01/03/2018 08:37:22 PM,RTF,REPORT TO FOLLOW,Y,5E01,010XX Andry St,70117.0,5,"(0.0, 0.0)"

In [11]:
dfCrime = dfCrime[['TypeText', 'Location']]
dfCrime = dfCrime[dfCrime['Location'] != '(0.0, 0.0)']
dfCrime = dfCrime[dfCrime['Location'].isna() == False]
dfCrime.head()

                   TypeText                     Location
70       AGGRAVATED ASSAULT   (30.03270567, -90.0269583)
126      AGGRAVATED ASSAULT  (29.96807474, -90.10351781)
219  ARMED ROBBERY WITH GUN  (29.94109943, -90.07916897)
652      AGGRAVATED ASSAULT  (29.95598166, -90.06817826)
847    HOMICIDE BY SHOOTING    (29.97594942, -90.056922)

In [13]:
dfCrime.dtypes

TypeText    object
Location    object
dtype: object

In [19]:
# Extract lat and lon using regex (handles parentheses and commas)
dfCrime[['lat', 'lon']] = dfCrime['Location'].str.extract(r'\(([^,]+),\s*([^)]+)\)').astype(float)

# Create Point geometry
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['lon'], row['lat']), axis=1)

dfCrime = dfCrime[['Location', 'geometry']]

In [21]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Downloads/Rent-Walk-Local/cb_2018_22_bg_500k/cb_2018_22_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(3463, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,22,051,021801,1,1500000US220510218011,220510218011,1,BG,759364,0,"POLYGON ((-90.187 30.012, -90.182 30.012, -90...."
1,22,051,027703,2,1500000US220510277032,220510277032,2,BG,371159,0,"POLYGON ((-90.118 29.848, -90.117 29.848, -90...."
2,22,009,030100,1,1500000US220090301001,220090301001,1,BG,562491448,34183405,"POLYGON ((-92.053 31.162, -92.048 31.168, -92...."
3,22,001,961000,2,1500000US220019610002,220019610002,2,BG,590930,0,"POLYGON ((-92.372 30.209, -92.371 30.209, -92...."
4,22,079,012100,1,1500000US220790121001,220790121001,1,BG,1179564,0,"POLYGON ((-92.463 31.291, -92.463 31.292, -92...."

In [25]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                        Location                geometry
70    (30.03270567, -90.0269583)  POINT (-90.027 30.033)
126  (29.96807474, -90.10351781)  POINT (-90.104 29.968)
219  (29.94109943, -90.07916897)  POINT (-90.079 29.941)
652  (29.95598166, -90.06817826)  POINT (-90.068 29.956)
847    (29.97594942, -90.056922)  POINT (-90.057 29.976)

In [27]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(1967, 13)

,Location,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
70,"(30.03270567, -90.0269583)",POINT (-90.027 30.033),2516,22,071,001720,4,1500000US220710017204,220710017204,4,BG,1986504,233905
126,"(29.96807474, -90.10351781)",POINT (-90.104 29.968),2008,22,071,007101,2,1500000US220710071012,220710071012,2,BG,535661,0
219,"(29.94109943, -90.07916897)",POINT (-90.079 29.941),913,22,071,013900,2,1500000US220710139002,220710139002,2,BG,255692,0
652,"(29.95598166, -90.06817826)",POINT (-90.068 29.956),780,22,071,013500,1,1500000US220710135001,220710135001,1,BG,369821,186999
847,"(29.97594942, -90.056922)",POINT (-90.057 29.976),2481,22,071,002000,3,1500000US220710020003,220710020003,3,BG,111256,0

In [29]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US220710134003    57
1500000US220710135001    36
1500000US220710017511    36
1500000US220710017204    30
1500000US220710017402    24
                         ..
1500000US220710006161     1
1500000US220710017023     1
1500000US220710025024     1
1500000US220710142002     1
1500000US220710044022     1
Name: count, Length: 382, dtype: int64

In [31]:
# export as a csv
crime.to_csv('NO_Violent_Crime_BG.csv')