In [33]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [34]:
dfCrime = pd.read_csv('/Users/tanisha/Desktop/cpd-incidents.csv .csv')
print(dfCrime.shape)
dfCrime.head()

(25870, 35)

/var/folders/1h/sht1stk91wn_j_0_l59qmtk80000gn/T/ipykernel_68481/1878009508.py:1: DtypeWarning: Columns (13,22) have mixed types. Specify dtype option on import or set low_memory=False.
  dfCrime = pd.read_csv('/Users/tanisha/Desktop/cpd-incidents.csv .csv')

,crime_category,crime_type,ucr,map_reference,incident_number,date_from,from_time,date_to,to_time,crimeday,...,phxcommunity,phxstatus,record,offensecategory,violentproperty,timeframe,domestic,total_incidents,year,older_than_five_years_from_now
0,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P083,24003275,2024-04-05,19:00:00,2024-04-05,19:45:00,FRIDAY,...,No,NaN,56203,Fraud,Part II,Last Year Last Month,N,1,2024.0,False
1,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P030,20001802,2020-02-23,06:27:00,2020-02-24,22:19:19,MONDAY,...,No,NaN,56248,Fraud,Part II,Out of Range Last Month,N,1,2020.0,False
2,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P032,21004831,2021-06-22,15:15:33,2021-06-22,15:15:34,TUESDAY,...,No,NaN,56340,Fraud,Part II,Out of Range Last Month,N,1,2021.0,False
3,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P032,22003601,2022-03-14,15:33:00,2022-03-14,15:33:00,MONDAY,...,No,NaN,56345,Fraud,Part II,Out of Range Last Month,N,1,2022.0,False
4,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P032,22004072,2022-05-10,11:36:00,2022-05-10,18:00:00,TUESDAY,...,No,NaN,56347,Fraud,Part II,Out of Range Last Month,N,1,2022.0,False

In [35]:
list(dfCrime.columns)

['crime_category',
 'crime_type',
 'ucr',
 'map_reference',
 'incident_number',
 'date_from',
 'from_time',
 'date_to',
 'to_time',
 'crimeday',
 'geocode',
 'location_category',
 'district',
 'beat_number',
 'location',
 'id',
 'lat',
 'lon',
 'chrgcnt',
 'neighborhd_id',
 'apartment_complex',
 'residential_subdivision',
 'subdivisn_id',
 'activity_date',
 'phxrecordstatus',
 'phxcommunity',
 'phxstatus',
 'record',
 'offensecategory',
 'violentproperty',
 'timeframe',
 'domestic',
 'total_incidents',
 'year',
 'older_than_five_years_from_now']

In [36]:
dfCrime['date_from'] = pd.to_datetime(dfCrime['date_from'])
dfCrime.head()

,crime_category,crime_type,ucr,map_reference,incident_number,date_from,from_time,date_to,to_time,crimeday,...,phxcommunity,phxstatus,record,offensecategory,violentproperty,timeframe,domestic,total_incidents,year,older_than_five_years_from_now
0,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P083,24003275,2024-04-05,19:00:00,2024-04-05,19:45:00,FRIDAY,...,No,NaN,56203,Fraud,Part II,Last Year Last Month,N,1,2024.0,False
1,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P030,20001802,2020-02-23,06:27:00,2020-02-24,22:19:19,MONDAY,...,No,NaN,56248,Fraud,Part II,Out of Range Last Month,N,1,2020.0,False
2,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P032,21004831,2021-06-22,15:15:33,2021-06-22,15:15:34,TUESDAY,...,No,NaN,56340,Fraud,Part II,Out of Range Last Month,N,1,2021.0,False
3,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P032,22003601,2022-03-14,15:33:00,2022-03-14,15:33:00,MONDAY,...,No,NaN,56345,Fraud,Part II,Out of Range Last Month,N,1,2022.0,False
4,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P032,22004072,2022-05-10,11:36:00,2022-05-10,18:00:00,TUESDAY,...,No,NaN,56347,Fraud,Part II,Out of Range Last Month,N,1,2022.0,False

In [37]:
dfCrime = dfCrime.loc[(dfCrime['date_from'] >= '2021-01-01') & (dfCrime['date_from'] < '2022-01-01')]
print(dfCrime.shape)
dfCrime.head()

(4764, 35)

,crime_category,crime_type,ucr,map_reference,incident_number,date_from,from_time,date_to,to_time,crimeday,...,phxcommunity,phxstatus,record,offensecategory,violentproperty,timeframe,domestic,total_incidents,year,older_than_five_years_from_now
2,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P032,21004831,2021-06-22,15:15:33,2021-06-22,15:15:34,TUESDAY,...,No,NaN,56340,Fraud,Part II,Out of Range Last Month,N,1,2021.0,False
7,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P034,21000757,2021-01-27,12:00:00,2021-01-29,12:00:00,FRIDAY,...,No,NaN,56387,Fraud,Part II,Out of Range Last Month,N,1,2021.0,False
16,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P065,21008321,2021-10-14,18:22:51,2021-10-14,18:22:52,THURSDAY,...,No,NaN,56674,Fraud,Part II,Out of Range Last Month,N,1,2021.0,False
17,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P065,21009258,2021-06-09,12:00:00,2021-11-10,09:46:00,WEDNESDAY,...,Yes,Active,56676,Fraud,Part II,Out of Range Last Month,N,1,2021.0,False
22,ALL OTHER,FRAUD - CREDIT CARD/ATM,26B,P038,22001660,2021-11-29,12:00:00,2022-02-14,12:00:00,MONDAY,...,No,NaN,56795,Fraud,Part II,Out of Range Last Month,N,1,2021.0,False

In [12]:
list(dfCrime['crime_type'].unique())

['FRAUD - CREDIT CARD/ATM',
 'FRAUD - IDENTITY THEFT',
 'FRAUD - IMPERSONATION',
 'FRAUD - OBTAINING PROPERTY BY FALSE PRETENSE',
 'FRAUD - UNAUTHORIZED USE OF VEHICLE/CONVEYANCE',
 'FRAUD - WIRE/COMPUTER/OTHER ELECTRONIC MANIPULATION',
 'FRAUD - WORTHLESS CHECK',
 'HOMICIDE - MANSLAUGHTER BY NEGLIGENCE',
 'LARCENY - ALL OTHER LARCENY',
 'LARCENY - AUTO PARTS OR ACCESSORIES',
 'LARCENY - FROM BUILDING',
 'LARCENY - FROM MOTOR VEHICLE',
 'LARCENY - PHARMACEUTICAL LARCENY',
 'LARCENY - SHOPLIFTING',
 'MV THEFT - ALL OTHER VEHICLES',
 'MV THEFT - AUTO',
 'MV THEFT - TRUCK',
 'ORDINANCE - ANIMAL BITE',
 'ORDINANCE - CITY ORDINANCE VIOLATION',
 'PORNOGRAPHY/OBSCENE MATERIAL - OTHER OBSCENITY/ PORNOGRAPHY',
 'ROBBERY - ARMED',
 'ROBBERY - COMMON LAW',
 'SEX OFFENSES - ALL OTHER',
 'SEX OFFENSES - INDECENT EXPOSURE',
 'SEX OFFENSES - PEEPING TOM',
 'STOLEN PROPERTY - POSSESSING/CONCEALING',
 'VANDALISM - DAMAGE TO PROPERTY',
 'VANDALISM - GRAFFITI',
 'WEAPONS - BUYING/RECEIVING',
 'WEAPONS - CARRYING A CONCEALING WEAPON',
 'WEAPONS - ILLEGAL DISCHARGE OF FIREARM WEAPONS',
 'WEAPONS - OTHER',
 'ALL OTHER - ALL TRAFFIC EXCEPT DWI (NON-UCR)',
 'ALL OTHER - BLACKMAIL/ EXTORTION',
 'ALL OTHER - CONTEMPT OF COURT  PURJURY  COURT VIOLATIONS',
 'ALL OTHER - ESCAPE FROM CUSTODY OR RESIST ARREST',
 'ALL OTHER - FOUND/LOST PROPERTY',
 'ALL OTHER - MISSING PERSON',
 'ALL OTHER - OBSCENE PHONE CALLS',
 'ALL OTHER - PUBLIC ACCIDENT',
 'ALL OTHER - SUICIDE (ATTEMPTED)',
 'ALL OTHER - SUICIDE (COMMITTED)',
 'ALL OTHER - SUICIDE (PRESCRIPTION DRUGS - ATTEMPTED)',
 'ALL OTHER - TRESPASSING',
 'ALL OTHER - WARRANT FOR ARREST',
 'ALL OTHER OFFENSES',
 'ASSAULT - AGGRAVATED',
 'ASSAULT - SIMPLE - ALL OTHER',
 'ASSAULT - SIMPLE - BOMB THREAT',
 'ASSAULT - SIMPLE - COMMUNICATE THREATS  INTIMIDATION',
 'ASSAULT - SIMPLE - TELEPHONE THREAT',
 'ASSAULT - SIMPLE PHYSICAL (NON-AGGRAVATED)',
 'BURGLARY - FORCIBLE ENTRY',
 'BURGLARY - NON-FORCED ENTRY',
 'COUNTERFEITING - USING',
 'DISORDERLY CONDUCT',
 'DISORDERLY CONDUCT - ALL OTHER',
 'DISORDERLY CONDUCT - DISTURBING THE PEACE',
 'DISORDERLY CONDUCT - DRUNK AND DISRUPTIVE',
 'DISORDERLY CONDUCT - FIGHTING/ AFFRAY',
 'DRUG ACTIVITY',
 'DRUGS - DRUG VIOLATIONS (POSS./SELL/MAN./DEL./TRNSPRT/CULT.)',
 'DRUGS - EQUIP/PARAPHERNALIA - POSSESSING/CONCEALING EQUIPMEN',
 'DRUGS - EQUIP/PARAPHERNALIA - SELLING/ EQUIPMENT',
 'DWI - DRIVING WHILE IMPAIRED ALCOHOL/DRUGS',
 'EMBEZZLEMENT - ALL OTHER',
 'FORGERY - USING/UTTERING',
 'FRAUD - ALL OTHER',
 'FRAUD - HACKING/COMPUTER INVASION',
 'FRAUD - PHARMACEUTICAL FRAUD',
 'LARCENY - ALL OTHER',
 'LARCENY - POCKET PICKING',
 'ALL OTHER - KIDNAPPING',
 'ALL OTHER - POLICE PURSUIT',
 'ARSON - NON-STRUCTURE',
 'DRUGS - EQUIP/PARAPHERNALIA - USING',
 'DRUGS - EQUIP/PARAPHERNALIA -TRANSPORTING/ EQUIPMENT',
 'FRAUD - CONFIDENCE GAMES/LARCENY BY TRICK',
 'LIQUOR - ALL OTHER LIQUOR LAW VIOLATIONS',
 'ORDINANCE - ANIMAL ABUSE',
 'COUNTERFEITING - BUYING/RECEIVING',
 'FORGERY - PHARMACEUTICAL USING/UTTERING PRESCRIPTIONS',
 'ALL OTHER - FALSE POLICE REPORT',
 'ARSON - STRUCTURE',
 'FRAUD - WELFARE FRAUD',
 'ORDINANCE - SOLICITING WITHOUT A PERMIT',
 'PORNOGRAPHY/OBSCENE MATERIAL - POSSESSING/ CONCEALING',
 'PORNOGRAPHY/OBSCENE MATERIAL - SELLING/ DISTRIBUTING',
 'PROSTITUTION',
 'LIQUOR - POSSESSING/CONCEALING TAX PAID LIQUOR',
 'ORDINANCE - DANGEROUS ANIMALS',
 'ALL OTHER',
 'COUNTERFEITING - MANUFACTURING',
 'COUNTERFEITING - POSSESS/CONCEALING',
 'DRUGS - PRESCRIPTION  DRUG POSSESSION',
 'EMBEZZLEMENT - WIRE/COMPUTER/OTHER ELECTRONIC',
 'FORGERY - POSSESSING/CONCEALING']

In [39]:
violentCrimes = ['HOMICIDE - MANSLAUGHTER BY NEGLIGENCE', 'ROBBERY - ARMED', 'ROBBERY - COMMON LAW', 
                'ASSAULT - AGGRAVATED', 'SEX OFFENSES - ALL OTHER']

dfCrime = dfCrime[dfCrime['crime_type'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(99, 35)

,crime_category,crime_type,ucr,map_reference,incident_number,date_from,from_time,date_to,to_time,crimeday,...,phxcommunity,phxstatus,record,offensecategory,violentproperty,timeframe,domestic,total_incidents,year,older_than_five_years_from_now
556,MURDER,HOMICIDE - MANSLAUGHTER BY NEGLIGENCE,09B,P008,21003194,2021-04-27,17:07:47,2021-04-27,17:07:48,TUESDAY,...,No,NaN,66305,Murder,Part I,Out of Range Last Month,NaN,1,2021.0,False
2653,ROBBERY,ROBBERY - ARMED,120,P024,21007688,2021-09-24,22:17:00,2021-09-24,22:18:00,FRIDAY,...,No,NaN,118188,NaN,NaN,Out of Range Last Month,N,1,2021.0,False
2658,ROBBERY,ROBBERY - ARMED,120,P074,21009476,2021-11-16,20:15:00,2021-11-16,20:15:00,TUESDAY,...,No,NaN,118397,NaN,NaN,Out of Range Last Month,N,1,2021.0,False
2660,ROBBERY,ROBBERY - ARMED,120,P057,21003567,2021-05-10,21:45:00,2021-05-10,22:00:00,MONDAY,...,Yes,Active,118445,NaN,NaN,Out of Range Last Month,N,1,2021.0,False
2665,ROBBERY,ROBBERY - COMMON LAW,120,P045,21008430,2021-10-18,12:49:00,2021-10-18,12:55:00,MONDAY,...,No,NaN,118611,NaN,NaN,Out of Range Last Month,N,1,2021.0,False

In [40]:
dfCrime = dfCrime[['ucr', 'lat', 'lon']]

# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['lon'], row['lat']), axis=1)
dfCrime = dfCrime[['ucr', 'geometry']]
dfCrime.head()

      ucr                           geometry
556   09B  POINT (-78.80476735 35.776937358)
2653  120  POINT (-78.78340107 35.804611004)
2658  120  POINT (-78.90085654 35.845159736)
2660  120  POINT (-78.76269202 35.779519309)
2665  120    POINT (-78.7363767 35.75644043)

In [44]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/tanisha/Downloads/cb_2022_us_bg_500k/cb_2022_us_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(242297, 12)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER,geometry
0,04,019,940800,2,1500000US040199408002,040199408002,2,Block Group 2,BG,2033911373,68536,"POLYGON ((-112.40553 31.85694, -112.37564 31.8..."
1,04,003,000901,4,1500000US040030009014,040030009014,4,Block Group 4,BG,486316,0,"POLYGON ((-109.5499 31.33418, -109.54989 31.33..."
2,06,073,018102,3,1500000US060730181023,060730181023,3,Block Group 3,BG,324091,3579,"POLYGON ((-117.36879 33.18158, -117.36792 33.1..."
3,06,073,007200,3,1500000US060730072003,060730072003,3,Block Group 3,BG,720442,709604,"POLYGON ((-117.25749 32.72525, -117.25684 32.7..."
4,06,073,017702,3,1500000US060730177023,060730177023,3,Block Group 3,BG,317237,0,"POLYGON ((-117.30035 33.05233, -117.29863 33.0..."

In [45]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

      ucr                    geometry
556   09B  POINT (-78.80477 35.77694)
2653  120   POINT (-78.7834 35.80461)
2658  120  POINT (-78.90086 35.84516)
2660  120  POINT (-78.76269 35.77952)
2665  120  POINT (-78.73638 35.75644)

In [46]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(99, 14)

,ucr,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER
556,09B,POINT (-78.80477 35.77694),7343,37,183,053525,2,1500000US371830535252,371830535252,2,Block Group 2,BG,1256062,0
2653,120,POINT (-78.7834 35.80461),174822,37,183,053513,1,1500000US371830535131,371830535131,1,Block Group 1,BG,1140500,0
2658,120,POINT (-78.90086 35.84516),86983,37,183,053618,2,1500000US371830536182,371830536182,2,Block Group 2,BG,2377474,8493
2660,120,POINT (-78.76269 35.77952),31475,37,183,053517,1,1500000US371830535171,371830535171,1,Block Group 1,BG,2066423,0
2665,120,POINT (-78.73638 35.75644),128706,37,183,053003,5,1500000US371830530035,371830530035,5,Block Group 5,BG,2130592,0

In [47]:
crime = result['AFFGEOID'].value_counts()
crime

1500000US371830530035    10
1500000US371830534053     9
1500000US371830535161     6
1500000US371830535192     6
1500000US371830535201     6
1500000US371830535064     4
1500000US371830535131     3
1500000US371830535053     3
1500000US371830535122     3
1500000US371830535171     3
1500000US371830536172     3
1500000US371830530032     2
1500000US371830534211     2
1500000US371830535172     2
1500000US371830535203     2
1500000US371830536091     2
1500000US371830534241     1
1500000US371830534111     1
1500000US371830534051     1
1500000US371830536181     1
1500000US371830535173     1
1500000US371830535252     1
1500000US371830534231     1
1500000US371830536112     1
1500000US371830534082     1
1500000US371830535091     1
1500000US371830530033     1
1500000US371830534232     1
1500000US370370207031     1
1500000US371830530041     1
1500000US371830535174     1
1500000US371830535162     1
1500000US371830535223     1
1500000US371830536191     1
1500000US371830534052     1
1500000US371830535191     1
1500000US371830535241     1
1500000US371830535052     1
1500000US371830535211     1
1500000US371830535132     1
1500000US371830534221     1
1500000US371830535232     1
1500000US371830535072     1
1500000US371830534251     1
1500000US371830536081     1
1500000US371830535251     1
1500000US371830535212     1
1500000US371830536182     1
1500000US371830536031     1
Name: AFFGEOID, dtype: int64

In [48]:
# export as a csv
crime.to_csv('Cary_Violent_Crime_BG.csv')