In [20]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [21]:
dfCrime = pd.read_csv('/Users/tanisha/Desktop/SPD_Crime_Data__2008-Present_20250422.csv')
print(dfCrime.shape)
dfCrime.head()

(1447381, 19)

,Report Number,Report DateTime,Offense ID,Offense Date,NIBRS Group AB,NIBRS Crime Against Category,Offense Sub Category,Shooting Type Group,Block Address,Latitude,Longitude,Beat,Precinct,Sector,Neighborhood,Reporting Area,Offense Category,NIBRS Offense Code Description,NIBRS_offense_code
0,2019-906066,05/20/2019 01:51:09 PM,8227998755,05/16/2019 11:00:00 AM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,S2,South,S,BRIGHTON/DUNLAP,NaN,PROPERTY CRIME,All Other Larceny,23H
1,2009-095116,03/20/2009 01:58:00 AM,7665902657,03/20/2009 12:50:00 AM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,J2,North,J,-,NaN,PROPERTY CRIME,Theft From Motor Vehicle,23F
2,2024-037970,02/09/2024 09:13:49 PM,54115706569,02/09/2024 06:08:00 PM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,U1,North,U,ROOSEVELT/RAVENNA,NaN,PROPERTY CRIME,Theft From Building,23D
3,2014-272495,08/16/2014 09:08:00 PM,7655103418,08/16/2014 02:00:00 PM,A,PROPERTY,MOTOR VEHICLE THEFT,-,NaN,NaN,NaN,K3,West,K,-,NaN,PROPERTY CRIME,Motor Vehicle Theft,240
4,2011-380459,11/25/2011 11:26:00 AM,7674046661,11/25/2011 12:30:00 AM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,O3,South,O,-,NaN,PROPERTY CRIME,All Other Larceny,23H

In [22]:
list(dfCrime.columns)

['Report Number',
 'Report DateTime',
 'Offense ID',
 'Offense Date',
 'NIBRS Group AB',
 'NIBRS Crime Against Category',
 'Offense Sub Category',
 'Shooting Type Group',
 'Block Address',
 'Latitude',
 'Longitude',
 'Beat',
 'Precinct',
 'Sector',
 'Neighborhood',
 'Reporting Area',
 'Offense Category',
 'NIBRS Offense Code Description',
 'NIBRS_offense_code']

In [23]:
dfCrime['Report DateTime'] = pd.to_datetime(dfCrime['Report DateTime'])
dfCrime.head()

,Report Number,Report DateTime,Offense ID,Offense Date,NIBRS Group AB,NIBRS Crime Against Category,Offense Sub Category,Shooting Type Group,Block Address,Latitude,Longitude,Beat,Precinct,Sector,Neighborhood,Reporting Area,Offense Category,NIBRS Offense Code Description,NIBRS_offense_code
0,2019-906066,2019-05-20 13:51:09,8227998755,05/16/2019 11:00:00 AM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,S2,South,S,BRIGHTON/DUNLAP,NaN,PROPERTY CRIME,All Other Larceny,23H
1,2009-095116,2009-03-20 01:58:00,7665902657,03/20/2009 12:50:00 AM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,J2,North,J,-,NaN,PROPERTY CRIME,Theft From Motor Vehicle,23F
2,2024-037970,2024-02-09 21:13:49,54115706569,02/09/2024 06:08:00 PM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,U1,North,U,ROOSEVELT/RAVENNA,NaN,PROPERTY CRIME,Theft From Building,23D
3,2014-272495,2014-08-16 21:08:00,7655103418,08/16/2014 02:00:00 PM,A,PROPERTY,MOTOR VEHICLE THEFT,-,NaN,NaN,NaN,K3,West,K,-,NaN,PROPERTY CRIME,Motor Vehicle Theft,240
4,2011-380459,2011-11-25 11:26:00,7674046661,11/25/2011 12:30:00 AM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,O3,South,O,-,NaN,PROPERTY CRIME,All Other Larceny,23H

In [24]:
dfCrime = dfCrime.loc[(dfCrime['Report DateTime'] >= '2018-01-01') & (dfCrime['Report DateTime'] < '2019-01-01')]
print(dfCrime.shape)
dfCrime.head()

(92469, 19)

,Report Number,Report DateTime,Offense ID,Offense Date,NIBRS Group AB,NIBRS Crime Against Category,Offense Sub Category,Shooting Type Group,Block Address,Latitude,Longitude,Beat,Precinct,Sector,Neighborhood,Reporting Area,Offense Category,NIBRS Offense Code Description,NIBRS_offense_code
15,2018-373821,2018-10-06 02:29:00,7626664570,10/06/2018 02:29:00 AM,B,SOCIETY,TRESPASS,-,NaN,NaN,NaN,L1,North,L,NORTHGATE,NaN,ALL OTHER,Trespass of Real,90J
16,2018-099423,2018-03-20 12:44:00,7650766862,03/19/2018 10:00:00 PM,A,PROPERTY,MOTOR VEHICLE THEFT,-,NaN,NaN,NaN,U1,North,U,UNIVERSITY,NaN,PROPERTY CRIME,Motor Vehicle Theft,240
17,2018-290878,2018-08-06 08:19:00,7694073497,07/15/2018 12:00:00 PM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,B3,North,B,FREMONT,NaN,PROPERTY CRIME,Theft From Building,23D
70,2018-005263,2018-01-05 13:01:00,7630158732,01/04/2018 10:00:00 PM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,Q3,West,Q,QUEEN ANNE,NaN,PROPERTY CRIME,Theft From Motor Vehicle,23F
74,2018-307175,2018-08-18 00:38:00,7697612556,08/17/2018 08:23:00 PM,B,ANY,ALL OTHER,-,NaN,NaN,NaN,B2,North,B,FREMONT,NaN,ALL OTHER,All Other Offenses,90Z

In [25]:
list(dfCrime['NIBRS Offense Code Description'].unique())

['Trespass of Real',
 'Motor Vehicle Theft',
 'Theft From Building',
 'Theft From Motor Vehicle',
 'All Other Offenses',
 'Burglary/Breaking & Entering',
 'Driving Under the Influence',
 'Destruction/Damage/Vandalism of Property',
 'False Pretenses/Swindle/Confidence Game',
 'Shoplifting',
 'Simple Assault',
 'Intimidation',
 'Violation of No Contact Orders',
 'Aggravated Assault',
 'Bad Checks',
 'Purse-snatching',
 'All Other Larceny',
 'Pocket-picking',
 'Stolen Property Offenses',
 'Drug/Narcotic Violations',
 'Robbery',
 'Theft of Motor Vehicle Parts or Accessories',
 'Impersonation',
 'Credit Card/Automated Teller Machine Fraud',
 'Extortion/Blackmail',
 'Family Offenses, Nonviolent',
 'Wire Fraud',
 'Embezzlement',
 'Not Reportable to NIBRS',
 'Weapon Law Violations',
 'Prostitution',
 'Theft From Coin-Operated Machine or Device',
 'Fondling',
 'Counterfeiting/Forgery',
 'Curfew/Loitering/Vagrancy Violations',
 'Rape',
 'Kidnapping/Abduction',
 'Arson',
 'Liquor Law Violations',
 'Drug Equipment Violations',
 'Sodomy',
 'Pornography/Obscene Material',
 'Disorderly Conduct',
 'Sexual Assault With An Object',
 'Assisting or Promoting Prostitution',
 'Murder & Nonnegligent Manslaughter',
 'Incest',
 'Peeping Tom',
 'Welfare Fraud',
 'Betting/Wagering',
 'Identity Theft',
 'Statutory Rape',
 'Purchasing Prostitution',
 'Justifiable Homicide',
 'Operating/Promoting/Assisting Gambling',
 'Bribery']

In [27]:
violentCrimes = [
    'Murder & Nonnegligent Manslaughter',
    'Justifiable Homicide',
    'Rape',
    'Sexual Assault With An Object',
    'Fondling',
    'Sodomy',
    'Aggravated Assault',
    'Simple Assault',  # borderline but often tracked as violent
    'Robbery',
    'Kidnapping/Abduction',
    'Intimidation'
]

dfCrime = dfCrime[dfCrime['NIBRS Offense Code Description'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(13815, 19)

,Report Number,Report DateTime,Offense ID,Offense Date,NIBRS Group AB,NIBRS Crime Against Category,Offense Sub Category,Shooting Type Group,Block Address,Latitude,Longitude,Beat,Precinct,Sector,Neighborhood,Reporting Area,Offense Category,NIBRS Offense Code Description,NIBRS_offense_code
514,2018-403758,2018-10-28 13:00:00,7676136762,10/22/2018 05:00:00 PM,A,PERSON,ASSAULT OFFENSES,-,NaN,NaN,NaN,D3,West,D,SLU/CASCADE,NaN,ALL OTHER,Simple Assault,13B
527,2018-379917,2018-10-10 20:05:00,7636444300,10/10/2018 08:05:00 PM,A,PERSON,ASSAULT OFFENSES,-,NaN,NaN,NaN,G1,East,G,FIRST HILL,NaN,ALL OTHER,Intimidation,13C
605,2018-471564,2018-12-18 17:37:00,7668433346,12/18/2018 05:37:00 PM,A,PERSON,AGGRAVATED ASSAULT,-,NaN,NaN,NaN,J2,North,J,BALLARD NORTH,NaN,VIOLENT CRIME,Aggravated Assault,13A
682,2018-260083,2018-07-15 17:33:00,7650502593,07/14/2018 12:00:00 PM,A,PERSON,ASSAULT OFFENSES,-,NaN,NaN,NaN,E2,East,E,CAPITOL HILL,NaN,ALL OTHER,Intimidation,13C
815,2018-453981,2018-12-05 16:11:00,7629410845,12/05/2018 04:11:00 PM,A,PERSON,AGGRAVATED ASSAULT,-,NaN,NaN,NaN,G1,East,G,FIRST HILL,NaN,VIOLENT CRIME,Aggravated Assault,13A

In [36]:
dfCrime = dfCrime[['Offense ID', 'Latitude', 'Longitude']]

# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
dfCrime = dfCrime[['GlobalID', 'geometry']]
dfCrime.head()

                                  GlobalID     geometry
2162  0c8c4eef-a892-46f0-8e95-23b6d5a7059b  POINT (0 0)
3303  8eda122a-6f38-404d-86f3-366df76e3ce9  POINT (0 0)
4011  3d483ef7-69f5-4aff-ab4c-36c37df39df7  POINT (0 0)
4017  cfc6dd0f-c73b-4027-b56f-f760008992e0  POINT (0 0)
4467  d671d3f0-9b70-4368-bab3-c0d24788fbcf  POINT (0 0)

In [40]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/tanisha/Desktop/cb_2018_37_bg_500k/cb_2018_37_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(6137, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,37,019,020512,3,1500000US370190205123,370190205123,3,BG,995208,422576,"POLYGON ((-78.43991 33.8961, -78.43926 33.8961..."
1,37,175,960300,5,1500000US371759603005,371759603005,5,BG,804486,0,"POLYGON ((-82.74054 35.22442, -82.73752 35.226..."
2,37,119,006209,1,1500000US371190062091,371190062091,1,BG,1128213,10851,"POLYGON ((-80.88845 35.45239, -80.88862 35.459..."
3,37,067,002903,1,1500000US370670029031,370670029031,1,BG,2146095,3772,"POLYGON ((-80.22463 36.15889, -80.22197 36.161..."
4,37,191,000401,3,1500000US371910004013,371910004013,3,BG,2531223,0,"POLYGON ((-77.91799 35.34662, -77.91497 35.349..."

In [41]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                                  GlobalID     geometry
2162  0c8c4eef-a892-46f0-8e95-23b6d5a7059b  POINT (0 0)
3303  8eda122a-6f38-404d-86f3-366df76e3ce9  POINT (0 0)
4011  3d483ef7-69f5-4aff-ab4c-36c37df39df7  POINT (0 0)
4017  cfc6dd0f-c73b-4027-b56f-f760008992e0  POINT (0 0)
4467  d671d3f0-9b70-4368-bab3-c0d24788fbcf  POINT (0 0)

In [42]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(1954, 13)

,GlobalID,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
2162,0c8c4eef-a892-46f0-8e95-23b6d5a7059b,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3303,8eda122a-6f38-404d-86f3-366df76e3ce9,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4011,3d483ef7-69f5-4aff-ab4c-36c37df39df7,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,cfc6dd0f-c73b-4027-b56f-f760008992e0,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4467,d671d3f0-9b70-4368-bab3-c0d24788fbcf,POINT (0 0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
crime = result['AFFGEOID'].value_counts()
crime

1500000US371830501001    77
1500000US371830527073    46
1500000US371830527051    39
1500000US371830545002    31
1500000US371830506002    30
                         ..
1500000US371830525042     1
1500000US371830540042     1
1500000US371830540134     1
1500000US371830540131     1
1500000US371830524042     1
Name: AFFGEOID, Length: 189, dtype: int64

In [45]:
# export as a csv
crime.to_csv('Ral_Violent_Crime_BG.csv')